November 26/MCP-December-10/Centralized Database Settings Limited.json
{
  "name": "Centralized Database Settings Limited",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Collect all input items (each record)\nconst items = $input.all();\nconst settings = {};\n\n// Loop through them and map key → value\nfor (const item of items) {\n  const row = item.json;\n  settings[row.key] = row.value;\n}\n\n// Optionally store globally for later nodes\n$vars.settings = settings;\n\n// Return as output\nreturn [{ json: settings }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        64
      ],
      "id": "f4046592-34eb-47b9-9fbc-ca0118d9a7c8",
      "name": "Retrieve central settings"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nwlYnH8lbFWbGriq",
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "/projects/cq8LPFRw7xIWBu7h/datatables/nwlYnH8lbFWbGriq"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -528,
        64
      ],
      "id": "997e2185-32d6-41fb-a131-860809284884",
      "name": "Datatable Central Settings",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "602f362f-66ae-4912-a061-40929271ab24",
              "name": "LARAVEL_BACKEND",
              "value": "={{ $json.LARAVEL_BACKEND }}",
              "type": "string"
            },
            {
              "id": "d68e045c-9e16-4a5b-9092-9afbd155e680",
              "name": "LARAVEL_BACKEND_IP",
              "value": "={{ $json.LARAVEL_BACKEND_API }}",
              "type": "string"
            },
            {
              "id": "7645f9bc-5dc5-462d-904e-def810c3c72d",
              "name": "N8N_FRONTEND",
              "value": "={{ $json.N8N_FRONTEND }}",
              "type": "string"
            },
            {
              "id": "5f6136e2-52b6-482f-9f11-cc35ef35490a",
              "name": "MyIP",
              "value": "={{ $json.MyIP }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        96
      ],
      "id": "34653fec-d357-4b6f-853d-003faff78bb9",
      "name": "settings"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a68868f8-30ae-4b10-8df0-e8702d6aa2d5",
      "typeVersion": 1.1,
      "name": "Centralized Setting Request",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -768,
        96
      ],
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Retrieve central settings": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datatable Central Settings": {
      "main": [
        [
          {
            "node": "Retrieve central settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        []
      ]
    },
    "Centralized Setting Request": {
      "main": [
        [
          {
            "node": "Datatable Central Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5e565e2-82cd-4a71-9c6a-98df5621296b",
  "meta": {
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "c4igN21MFmm9h348",
  "tags": []
}