January-2-2026/Triggered Standalone Auth Guard Event MN version.json
{
  "name": "Triggered Standalone Auth Guard Event MN version",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbf06720-82a4-4b0b-89c2-d11315d9851a",
              "leftValue": "={{ Number($json.isauthenticatedbysanctumfirstcheck) }}",
              "rightValue": "414",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -416
      ],
      "id": "c7a68755-cba6-411c-80eb-ad05fcaa21b1",
      "name": "If Logged in"
    },
    {
      "parameters": {
        "jsCode": "// Collect all input items (each record)\nconst items = $input.all();\nconst settings = {};\n\n// Loop through them and map key → value\nfor (const item of items) {\n  const row = item.json;\n  settings[row.key] = row.value;\n}\n\n// Optionally store globally for later nodes\n$vars.settings = settings;\n\n// Return as output\nreturn [{ json: settings }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -240
      ],
      "id": "553ccb89-a710-4f36-9d79-641f61631fc1",
      "name": "Retrieve central settings"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nwlYnH8lbFWbGriq",
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "/projects/cq8LPFRw7xIWBu7h/datatables/nwlYnH8lbFWbGriq"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -640,
        -496
      ],
      "id": "deab8b5b-aef1-47f2-908b-2b81a48372e9",
      "name": "Datatabel Central Settings"
    },
    {
      "parameters": {
        "url": "={{ $('Retrieve central settings').item.json.LARAVEL_BACKEND_API2 }}/check-auth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" +$json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        -448
      ],
      "id": "d8f337a6-87a1-4f32-aba1-ec884203507e",
      "name": "check authenthcation",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        -224
      ],
      "id": "50b806be-37a3-48dd-ad9b-63f0be43e9e6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM secrettable2 WHERE ipaddress = '{{ $json.MyIP2 }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -288,
        -432
      ],
      "id": "8fad6261-479f-4054-a2a9-e50ec9df01ac",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "2lKug6PdOc5btt3K",
          "name": "Central N8N Database"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      status: \"loggedok\",\n      token: $('Execute a SQL query').first().json.token ,\n      user_id:$('Execute a SQL query').first().json.id ,\n      email: $('Execute a SQL query').first().json.Email\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -512
      ],
      "id": "bd947aad-2c62-4945-b509-2f6717dc5d9a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "throw new Error(JSON.stringify({\n  status: \"auth_failed\",\n  code: 401,\n  message: \"User not authenticated\"\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -320
      ],
      "id": "a44cc5bc-579b-426c-a3cd-c2502090f15c",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "If Logged in": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve central settings": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datatabel Central Settings": {
      "main": [
        [
          {
            "node": "Retrieve central settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check authenthcation": {
      "main": [
        [
          {
            "node": "If Logged in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Datatabel Central Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "check authenthcation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "961314c2-dc55-406f-9e2e-7cf80ad83e48",
  "meta": {
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "UkIF8mFcb2AApRP3",
  "tags": []
}