November19/MCP-December3/MCP/MCP-Resouce-Sales-Google-Sheets-Drive.json
{
  "name": "MCP-Resouce-Sales-Google-Sheets-Drive",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id"
            },
            {
              "name": "name"
            },
            {
              "name": "department"
            },
            {
              "name": "img"
            },
            {
              "name": "filer"
            },
            {
              "name": "created_at"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -608,
        128
      ],
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1tB6w4fAPj0S51xcKOOCQ-ZFjyiMJfNQuwAfj26oV9iI",
          "mode": "list",
          "cachedResultName": "N8N Categories Through MCP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tB6w4fAPj0S51xcKOOCQ-ZFjyiMJfNQuwAfj26oV9iI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1640050947,
          "mode": "list",
          "cachedResultName": "Sales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tB6w4fAPj0S51xcKOOCQ-ZFjyiMJfNQuwAfj26oV9iI/edit#gid=1640050947"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Name": "={{ $json.name }}",
            "Department": "={{ $json.department }}",
            "Image": "={{ $json.img }}",
            "File": "={{ $json.filer }}",
            "Date Created": "={{ $json.created_at }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File",
              "displayName": "File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -496,
        -80
      ],
      "id": "2ee8bc68-c3de-4dae-8b58-6c4f4ed4eba8",
      "name": "Sales",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "emOxEV9cfdMjtjeF",
          "name": "Google Sheets N8N"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.File }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1iQkD7JCtZOjlBXafaH1fbWaT1XU4dZtg",
            "mode": "list",
            "cachedResultName": "Sales",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1iQkD7JCtZOjlBXafaH1fbWaT1XU4dZtg"
          }
        },
        "options": {
          "fields": [
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        -112
      ],
      "id": "3dc88e9a-9a3d-4747-a1f5-fdc75cd9b73e",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zlniUrJBkZu2JdPG",
          "name": "Google Drive N8N"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const fileName = item.json.File;\n  if (!fileName || fileName.trim() === \"\") {\n    return { json: { File: null, fileExists: false } };\n  }\n  return { json: { File: fileName, fileExists: true } };\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -192
      ],
      "id": "1cb30172-885a-447a-9e35-b9e1ce6e868f",
      "name": "Check File exists Then Retrieve Name",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5e53086-733c-44ae-ba5c-96e7265356a9",
              "leftValue": "={{ $json.File }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        464
      ],
      "id": "946c9af1-ea95-44c9-b5ef-9a972c43002d",
      "name": "If File NOT Empty",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "batchSize": "={{ $json.batchSize }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -128,
        48
      ],
      "id": "a01304c4-d443-4922-805d-06c729351dc3",
      "name": "Loop Over Items",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const itemCount = items.length;\nreturn [{ json: { batchSize: itemCount } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        288
      ],
      "id": "0fa61cb7-9e61-4c0a-8732-fb57ffee7b44",
      "name": "Count of Items"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const fullUrl = item.json.File;\n  const fileName = fullUrl ? fullUrl.split('/').pop() : null;\n  return { json: { File: fileName } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        128
      ],
      "id": "1441cb95-b949-4365-bf64-030dc0836e8b",
      "name": "Get Relative File Name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf8568d6-be51-41d6-918f-5c33fece7bf8",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        -96
      ],
      "id": "e3f8114c-ea64-4ba0-8706-fe874629987f",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Collect expected full URLs from DB/list\nconst expected = items\n  .map(i => (i.json.File || '').trim())\n  .filter(v => v.length > 0);\n\n// Collect found names from Drive search\nconst foundNames = items\n  .map(i => (i.json.name || '').trim())\n  .filter(v => v.length > 0);\n\n// Build a set of found names for fast lookup\nconst foundSet = new Set(foundNames);\n\n// Filter expected URLs: keep only those whose basename is not in Drive\nconst missing = expected.filter(url => {\n  const baseName = url.split('/').pop();\n  return !foundSet.has(baseName);\n});\n\n// Return missing files with full URL for downstream upload\nreturn missing.map(url => ({\n  json: {\n    File: url,\n    Original: url\n  }\n}));\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        160
      ],
      "id": "a50f6b1c-cf1d-4441-8031-6a7f31167a97",
      "name": "Only New Files"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86248e5c-df9d-4096-b69c-bd9ae0c2aefb",
              "name": "Original",
              "value": "={{ $json.File }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        352
      ],
      "id": "26b1826e-5277-4fcc-83ab-80315a65ee37",
      "name": "FullFile"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        336
      ],
      "id": "76a6c212-8352-45a8-99b6-d7fbd485d665",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "={{ $json.Original }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        64
      ],
      "id": "730b7be6-4c68-446a-b815-e1754ac23f67",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $json.Original.split('/').pop() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1iQkD7JCtZOjlBXafaH1fbWaT1XU4dZtg",
          "mode": "list",
          "cachedResultName": "Sales",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iQkD7JCtZOjlBXafaH1fbWaT1XU4dZtg"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        64
      ],
      "id": "b452896b-1705-4cdb-9611-ae2a77085c4e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zlniUrJBkZu2JdPG",
          "name": "Google Drive N8N"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File exists Then Retrieve Name": {
      "main": [
        [
          {
            "node": "If File NOT Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File NOT Empty": {
      "main": [
        [
          {
            "node": "Get Relative File Name",
            "type": "main",
            "index": 0
          },
          {
            "node": "FullFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check File exists Then Retrieve Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count of Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Relative File Name": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only New Files": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FullFile": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Only New Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales": {
      "main": [
        [
          {
            "node": "Count of Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "720bccd6-ecf9-453e-be04-617f356e9bc3",
  "meta": {
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "XTkGmJccc7UuihZv",
  "tags": []
}