November19/December-10/MCP-December-6/Distribute categories to departments.json
{
  "name": "Distribute categories to departments",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Distribute categories to departments",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        64,
        192
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "Marketing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4cc2fed5-5859-462d-84bb-226258aacb6a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Marketing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "370966e1-087c-4ac4-8449-bad045be1867",
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d33c37dc-d65d-4cc6-b7ac-9cb56e420b0c",
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "HR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "22706701-8533-45b2-8fca-d8ea2fdb0747",
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "PR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f21e7299-544f-4a41-a19b-f24ddd2a9eda",
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Empty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        320,
        80
      ],
      "id": "5b2255d7-f0d0-4e8e-8d10-48775a875a14",
      "name": "Switch",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FEIOCSMd3xOQ6XwZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/FEIOCSMd3xOQ6XwZ",
          "cachedResultName": "MCP Resource HR Google Sheet Google Drive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        80
      ],
      "id": "ef30f78f-ed89-4ede-8c53-d1bad359e739",
      "name": "MCP-Resource-HR-Google-Sheets-Drive"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XTkGmJccc7UuihZv",
          "mode": "list",
          "cachedResultUrl": "/workflow/XTkGmJccc7UuihZv",
          "cachedResultName": "MCP-Resouce-Sales-Google-Sheets-Drive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "img": "={{ $json.img }}",
            "filer": "={{ $json.filer }}",
            "department": "={{ $json.department }}",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "img",
              "displayName": "img",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filer",
              "displayName": "filer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        -80
      ],
      "id": "bb99bf63-a071-4d06-888e-ff298ca181da",
      "name": "MCP-Resource-Sales-Google-Sheets-Drive",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Hw26RvLc1juHbDZA",
          "mode": "list",
          "cachedResultUrl": "/workflow/Hw26RvLc1juHbDZA",
          "cachedResultName": "MCP-Resouce-Marketing-Google-Sheets-Drive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "img": "={{ $json.img }}",
            "filer": "={{ $json.filer }}",
            "department": "={{ $json.department }}",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "img",
              "displayName": "img",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filer",
              "displayName": "filer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        -256
      ],
      "id": "afeedd08-7b0b-44b6-aa84-5c38fe78a2a8",
      "name": "MCP-Resource-Marketing-Google-Sheets-Drive",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rAX05bgusMIcvnqf",
          "mode": "list",
          "cachedResultUrl": "/workflow/rAX05bgusMIcvnqf",
          "cachedResultName": "MCP Resource PR Google Sheet Google Drive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        880,
        208
      ],
      "id": "8e3eb0f1-1068-43a2-a7a3-8ce1f42ab000",
      "name": "MCP Resource PR Google Sheet Google Drive copy'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kpEO1jdcRI4OPvYw",
          "mode": "list",
          "cachedResultUrl": "/workflow/kpEO1jdcRI4OPvYw",
          "cachedResultName": "MCP Resource EMPTY Google Sheet Google Drive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        288
      ],
      "id": "c2f45cb5-aef8-42fc-9b92-e3065acce7ff",
      "name": "MCP Resource EMPTY Google Sheet Google Drive",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Distribute categories to departments": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "MCP-Resource-Marketing-Google-Sheets-Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MCP-Resource-Sales-Google-Sheets-Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MCP-Resource-HR-Google-Sheets-Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MCP Resource PR Google Sheet Google Drive copy'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MCP Resource EMPTY Google Sheet Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14535b36-0752-4a8c-a5dc-b183645ed65a",
  "meta": {
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "MdWkzveNqZ2cNpzS",
  "tags": []
}