OLD/November20/N8N-Laravel-Integration/Retrieve categories -BACK UP/Retrieve categories -BACK UP.json
{
  "name": "Retrieve categories -BACK UP",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        -368
      ],
      "id": "639de430-d8f1-4ede-b36f-1f5e82641c63",
      "name": "Call Categories",
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "Notesss"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JZVjEJheLGlDnNz4",
          "mode": "list",
          "cachedResultUrl": "/workflow/JZVjEJheLGlDnNz4",
          "cachedResultName": "Centralized Database Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -528,
        -384
      ],
      "id": "8d644c2c-13c8-4b1e-966a-7742ac492974",
      "name": "Call 'Centralized Database Settings'",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.LARAVEL_BACKEND_IP }}/admin/cats/all",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.token }}"
            },
            {
              "name": "Accept",
              "value": "\"application/json\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        -384
      ],
      "id": "7f2c9635-5823-4ca1-9ba8-1292790c24cd",
      "name": "Call categories"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo",
          "mode": "list",
          "cachedResultName": "N8N Categories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Name": "={{ $json.name }}",
            "Department": "={{ $json.department }}",
            "Image": "={{ $json.img }}",
            "File": "={{ $json.filer }}",
            "Date Created": "={{ $json.created_at }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File",
              "displayName": "File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        -464
      ],
      "id": "7278d36a-498f-4635-8c42-d68eb281d92d",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "emOxEV9cfdMjtjeF",
          "name": "Google Sheets N8N"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $json.data }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -192,
        -400
      ],
      "id": "9f1afcaa-e5e8-429a-a128-464b14aacdad",
      "name": "Loop Over Items",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba65d29e-2a3b-49bd-822f-f10e9cd98c64",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "64bd5d80-5409-4ad5-954f-92bcec38d6ef",
              "name": "name",
              "value": "={{ $json.name }}\n",
              "type": "string"
            },
            {
              "id": "b6123014-e18b-4e7a-aca4-b7bb6e7903bd",
              "name": "department",
              "value": "={{ $json.department }}",
              "type": "string"
            },
            {
              "id": "ff4a4a30-76c5-414b-8314-0d2055b339a4",
              "name": "img",
              "value": "={{ $('Call \\'Centralized Database Settings\\'').item.json.LARAVEL_BACKEND }}/{{ $json.img }}",
              "type": "string"
            },
            {
              "id": "16c6636f-4380-47d2-bf86-bfe6a02ecb34",
              "name": "filer",
              "value": "={{ $('Call \\'Centralized Database Settings\\'').item.json.LARAVEL_BACKEND }}/{{ $json.filer }}",
              "type": "string"
            },
            {
              "id": "44469cb7-0410-4dc8-9b09-c333db3819ab",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -480
      ],
      "id": "f54a55c4-76ce-4bf0-826a-d7b928e4f2b8",
      "name": "Cat"
    },
    {
      "parameters": {
        "jsCode": "// Ensure input has items and data exists\nconst input = $input.all();\n\nif (!input.length || !input[0].json.data) {\n  return [];\n}\n\nconst rows = input[0].json.data;\nconst out = [];\n\nfor (const row of rows) {\n  out.push({ json: row });\n}\n\nreturn out;\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -448
      ],
      "id": "061ad36a-b565-49cb-ad2a-bdf9050c0f71",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c28616f1-8bfd-4f8a-8b6b-9f45076da897"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be302401-a7ce-415d-888a-373e165884ae",
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "Marketing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Marketing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "172ffc9b-8409-4d9f-b345-8ab63c5da349",
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "PR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2fae2511-f24f-40e2-91e0-426f23546103",
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "HR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "979eefc6-c89f-4819-ac28-7ce211614dd6",
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Blank"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -416,
        -176
      ],
      "id": "3bdc0379-feb5-4b68-9263-9f3d7e2f9edf",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo",
          "mode": "list",
          "cachedResultName": "N8N Categories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1640050947,
          "mode": "list",
          "cachedResultName": "Sales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo/edit#gid=1640050947"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Name": "={{ $json.Name }}",
            "Department": "={{ $json.Department }}",
            "Image": "={{ $json.Image }}",
            "File": "={{ $json.File }}",
            "Date Created": "={{ $json['Date Created'] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File",
              "displayName": "File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        -272
      ],
      "id": "5d35f8bd-15c8-4454-89af-1010fd25c2ce",
      "name": "Sales",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "emOxEV9cfdMjtjeF",
          "name": "Google Sheets N8N"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo",
          "mode": "list",
          "cachedResultName": "N8N Categories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 217360960,
          "mode": "list",
          "cachedResultName": "Marketing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo/edit#gid=217360960"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Name": "={{ $json.Name }}",
            "Department": "={{ $json.Department }}",
            "Image": "={{ $json.Image }}",
            "File": "={{ $json.File }}",
            "Date Created": "={{ $json['Date Created'] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File",
              "displayName": "File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        -176
      ],
      "id": "7d47bdd0-790b-4bfe-8416-6807cb0ee991",
      "name": "marketing",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "emOxEV9cfdMjtjeF",
          "name": "Google Sheets N8N"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo",
          "mode": "list",
          "cachedResultName": "N8N Categories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 266103519,
          "mode": "list",
          "cachedResultName": "PR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo/edit#gid=266103519"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Name": "={{ $json.Name }}",
            "Department": "={{ $json.Department }}",
            "Image": "={{ $json.Image }}",
            "File": "={{ $json.File }}",
            "Date Created": "={{ $json['Date Created'] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File",
              "displayName": "File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        -112
      ],
      "id": "614a72a2-be77-4ba8-a20b-b5e592d72a16",
      "name": "PR",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "emOxEV9cfdMjtjeF",
          "name": "Google Sheets N8N"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo",
          "mode": "list",
          "cachedResultName": "N8N Categories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 229883588,
          "mode": "list",
          "cachedResultName": "HR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo/edit#gid=229883588"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Name": "={{ $json.Name }}",
            "Department": "={{ $json.Department }}",
            "Image": "={{ $json.Image }}",
            "File": "={{ $json.File }}",
            "Date Created": "={{ $json['Date Created'] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File",
              "displayName": "File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        16
      ],
      "id": "94fc7553-761f-4577-a32b-85858918c1ad",
      "name": "HR",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "emOxEV9cfdMjtjeF",
          "name": "Google Sheets N8N"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo",
          "mode": "list",
          "cachedResultName": "N8N Categories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 346094923,
          "mode": "list",
          "cachedResultName": "Blank",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTw1eTxS2xgpZsUPRj2qoUXixqIBL3RGHakLIZJsiFo/edit#gid=346094923"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Name": "={{ $json.Name }}",
            "Department": "={{ $json.Department }}",
            "Image": "={{ $json.Image }}",
            "File": "={{ $json.File }}",
            "Date Created": "={{ $json['Date Created'] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File",
              "displayName": "File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -240,
        0
      ],
      "id": "4e3d061f-4b6a-4013-a8b7-d2d720142f78",
      "name": "BLANK",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "emOxEV9cfdMjtjeF",
          "name": "Google Sheets N8N"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "bediktest@gmail.com",
        "subject": "={{ $json.Department }}",
        "message": "={{ $json.Name }} was added to Department {{ $json.Department }}\nimage : {{ $json.Image }}\nFile: {{ $json.File }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        304,
        -176
      ],
      "id": "8a350237-0c72-4cc6-affc-a9f25dd8aa8b",
      "name": "Marketing",
      "webhookId": "ecc9f787-0faf-4a94-b137-ffe85e059ffc",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ozKOoFfLTOy5P7d",
          "name": "Google-N8N"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "bediktest@gmail.com",
        "subject": "={{ $json.Department }} new category",
        "message": "={{ $json.Name }} was added to {{ $json.Department }}\n{{ $json.Image }}\n{{ $json.File }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        336,
        -64
      ],
      "id": "fe5876d0-2e66-4d2c-8e0f-b95d69e2be0c",
      "name": "PR2",
      "webhookId": "1952ff3e-1a6c-4435-8b31-a277889604ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "6ozKOoFfLTOy5P7d",
          "name": "Google-N8N"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "bediktest@gmail.com",
        "subject": "={{ $json.Department }}",
        "message": "=category added :  {{ $json.Name }} \nto DeDepartment {{ $json.Department }} \n{{ $json.Image }}\n{{ $json.File }}\nOn: {{ $json['Date Created'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        176,
        16
      ],
      "id": "558d9dca-461b-4def-a075-d85b0b9e8fdc",
      "name": "Send a message",
      "webhookId": "26394311-7cfe-4cf3-85ef-0bd647c32713",
      "credentials": {
        "gmailOAuth2": {
          "id": "6ozKOoFfLTOy5P7d",
          "name": "Google-N8N"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "bediktest@gmail.com",
        "subject": "={{ $json.Department }} New Record",
        "message": "={{ $json.Name }} is added to {{ $json.Department }}\n{{ $json.Image }}\n{{ $json.File }}",
        "options": {
          "ccList": "={{ $json.Department }}N8n@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        160,
        -272
      ],
      "id": "f5fd6a09-e12a-4da4-a3f2-f7a9b0d11e65",
      "name": "Sales1",
      "webhookId": "3296ef7a-8260-4ab5-8fe1-a86a262cac61",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ozKOoFfLTOy5P7d",
          "name": "Google-N8N"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "sending emial to sales"
    }
  ],
  "pinData": {},
  "connections": {
    "Call Categories": {
      "main": [
        [
          {
            "node": "Call 'Centralized Database Settings'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Centralized Database Settings'": {
      "main": [
        [
          {
            "node": "Call categories",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call categories": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cat": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Cat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Sales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "marketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BLANK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales": {
      "main": [
        [
          {
            "node": "Sales1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "marketing": {
      "main": [
        [
          {
            "node": "Marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PR": {
      "main": [
        [
          {
            "node": "PR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HR": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c600a3c4-5223-49f4-b829-cc2c01058480",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "RPsZeLTi8grCkYtb",
  "tags": [
    {
      "updatedAt": "2025-11-18T06:17:31.875Z",
      "createdAt": "2025-11-18T06:17:31.875Z",
      "id": "beDIOkgiMH4ml5ww",
      "name": "backup"
    }
  ]
}