OLD-Backups/OLD/November19/N8N-Laravel-Integration/Add Category Image/Add Category Image.json
{
  "name": "Add Category Image",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af8e7f75-83e8-4a97-b5eb-bfc021869bfa",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "79fa6808-7454-4c4e-925a-4dc66cc84e48",
              "name": "department",
              "value": "={{ $json.department }}",
              "type": "string"
            },
            {
              "id": "4fdcda9c-7e74-49c1-8ead-0e9f795adc0e",
              "name": "imgnew",
              "value": "={{ $binary.ImageConverted ? 'ImageConverted' : null }}",
              "type": "binary"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        352
      ],
      "id": "719045d8-885c-4fe1-819e-17c1022f0f14",
      "name": "Only Images",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "former2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        448
      ],
      "id": "2ef6a4f4-9c79-4732-8947-72316650deca",
      "name": "finalmerge Images Text",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.LARAVEL_BACKEND_IP }}/admin/cats/store",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Only Images').last().json.name }}"
            },
            {
              "name": "department",
              "value": "={{ $('Only Images').last().json.department }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "img",
              "inputDataFieldName": "=ImageConverted"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        336
      ],
      "id": "b76f630e-418a-4f4d-a757-24bf1ee5af7f",
      "name": "HTTP Request Images",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JZVjEJheLGlDnNz4",
          "mode": "list",
          "cachedResultUrl": "/workflow/JZVjEJheLGlDnNz4",
          "cachedResultName": "Centralized Database Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        784,
        208
      ],
      "id": "0e923126-e25f-4eb8-a88f-ab0f45480300",
      "name": "Call 'Centralized Database Settings'1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Only Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Images": {
      "main": [
        [
          {
            "node": "finalmerge Images Text",
            "type": "main",
            "index": 1
          },
          {
            "node": "Call 'Centralized Database Settings'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "finalmerge Images Text": {
      "main": [
        [
          {
            "node": "HTTP Request Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Centralized Database Settings'1": {
      "main": [
        [
          {
            "node": "finalmerge Images Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7b20e70-2e9e-41d4-adfd-d68cd8860966",
  "meta": {
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "9NihaxMfLZvlDlDW",
  "tags": []
}