OLD-Backups/November19/MCP-December-6/About us -General Chat Subflow.json
{
  "name": "About us -General Chat Subflow",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "GET"
        ],
        "path": "About-Us-Genral-Chat-Option",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1088,
        -304
      ],
      "id": "ad4f6dd5-2452-4506-87c9-f4ec2ea45a5b",
      "name": "Webhook",
      "webhookId": "859c83ca-31d9-4246-80c4-c75d9143291c",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const downloadLinks = [];\n\nfor (const item of items) {\n    let fileId = null;\n    let fileName = null;\n\n    if (item.json.originalFileID) fileId = item.json.originalFileID;\n    else if (item.json.id) fileId = item.json.id;\n\n    if (item.json.originalFileName) fileName = item.json.originalFileName;\n    else if (item.json.name) fileName = item.json.name;\n\n    if (item.binary && item.binary.data && item.binary.data.fileName) {\n        fileName = item.binary.data.fileName;\n    }\n\n    if (fileId && fileName) {\n        const url = `https://drive.google.com/uc?export=download&id=${fileId}`;\n        downloadLinks.push(`- **${fileName}** → ${url}`);\n    }\n}\n\nreturn [{\n    json: {\n        pdf_download_list: downloadLinks.join(\"\\n\")\n    }\n}];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        512
      ],
      "id": "8fee4587-8df9-4c3f-9a41-8538e21f2aca",
      "name": "PDF Files Code"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.body.Search }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1bC99RjTq_xs57i5yLyMnK-zUppQv3MMd",
            "mode": "list",
            "cachedResultName": "N8N",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1bC99RjTq_xs57i5yLyMnK-zUppQv3MMd"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "mimeType",
            "name",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -800,
        240
      ],
      "id": "2cf1c6fb-fdc0-4f05-9348-d3f8ec7fb7ad",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tKFhkQOgzK7W6JjC",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "google drive operation"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/rtf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -480,
        112
      ],
      "id": "04d34f3a-b9f2-42dd-9ced-6773115748fb",
      "name": "Download file",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tKFhkQOgzK7W6JjC",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8a6e6580-1f24-469a-bcdc-5f6ed12604cc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word RTF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd93f616-3d2a-4d91-9608-234a9fba9579",
                    "leftValue": "={{ $('Search files and folders').item.json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c5cff196-0d5f-45e8-b819-5750ef2f3ce3",
                    "leftValue": "={{ $('Search files and folders').item.json.mimeType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Google Sheets"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -80,
        16
      ],
      "id": "4f74afae-b071-417b-9c26-354d5695c707",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        192
      ],
      "id": "874eead2-1651-46d7-94bc-462d99c8b940",
      "name": "Extract from PDF",
      "retryOnFail": true,
      "maxTries": 5,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        240,
        -176
      ],
      "id": "04eae202-8a04-4465-b127-abf4afd638e7",
      "name": "Extract from RTF",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f90989a-49c1-4c3d-8297-282abd45e1e7",
              "name": "originalFileID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "86f0e8f4-b52d-4946-9874-1d0bd69c9834",
              "name": "originalFileName",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        192
      ],
      "id": "acf6af0f-8afd-4c39-a2f6-a36138be6d43",
      "name": "Get File ID",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "979a1d8f-2bbf-4b29-8c84-c74c1f380e21",
              "name": "originalFileID",
              "value": "={{ $json.originalFileID }}",
              "type": "string"
            },
            {
              "id": "3ca742f0-d346-45eb-b86e-79fd4ae3319c",
              "name": "originalFileName",
              "value": "={{ $json.originalFileName }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        0
      ],
      "id": "b6ff9a99-4e68-45c0-9e40-f73042f6dc9b",
      "name": "Tansform File Info"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1e5ad15-dd15-45e4-944c-206a67174220",
              "name": "originalFileName",
              "value": "={{ $json.originalFileName }}",
              "type": "string"
            },
            {
              "id": "8f00fa4d-b7ae-4b03-9356-1eb2f99e51d9",
              "name": "originalFileID",
              "value": "={{ $json.originalFileID }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        16
      ],
      "id": "eb96d6f2-9723-432a-8304-de9c4ac5fce6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const combinedContext = [];\n\nfor (const item of items) {\n\n    // RTF extraction → item.json.data\n    if (item.json.data) {\n        const rtf = item.json.data;\n\n        // lightweight RTF → text\n        let plain = rtf\n            .replace(/\\\\par[d]?/g, \"\\n\")\n            .replace(/\\\\[a-zA-Z]+\\d?/g, \"\")\n            .replace(/[{}]/g, \"\")\n            .trim();\n\n        const truncated = plain.substring(0, 500);\n\n        combinedContext.push(\n            `RTF DOCUMENT CONTENT (${item.json.name || \"Unknown File\"}) (Truncated):\\n${truncated}...`\n        );\n    }\n}\n\nreturn [{\n    json: {\n        rtf_ai_context: combinedContext.join(\"\\n\\n---\\n\\n\")\n    }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -160
      ],
      "id": "78a1e30a-54c4-4e61-9c5b-7df2ed5eba90",
      "name": "RTF Text Code"
    },
    {
      "parameters": {
        "jsCode": "const downloadLinks = [];\n\nfor (const item of items) {\n    let fileId = null;\n    let fileName = null;\n\n    if (item.json.originalFileID) fileId = item.json.originalFileID;\n    else if (item.json.id) fileId = item.json.id;\n\n    if (item.json.originalFileName) fileName = item.json.originalFileName;\n    else if (item.json.name) fileName = item.json.name;\n\n    if (item.binary && item.binary.data && item.binary.data.fileName) {\n        fileName = item.binary.data.fileName;\n    }\n\n    if (fileId && fileName) {\n        const url = `https://drive.google.com/uc?export=download&id=${fileId}`;\n        downloadLinks.push(`- **${fileName}** → ${url}`);\n    }\n}\n\nreturn [{\n    json: {\n        rtf_download_list: downloadLinks.join(\"\\n\")\n    }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "28d4f4e0-410a-4489-87ec-05f008891967",
      "name": "RTF Files Code"
    },
    {
      "parameters": {
        "jsCode": "const combinedContext = [];\n\nfor (const item of items) {\n\n    if (item.json.text) {\n        const truncated = item.json.text.substring(0, 500);\n\n        combinedContext.push(\n            `PDF DOCUMENT CONTENT (${item.json.name || \"Unknown File\"}) (Truncated):\\n${truncated}...`\n        );\n    }\n}\n\nreturn [{\n    json: {\n        pdf_ai_context: combinedContext.join(\"\\n\\n---\\n\\n\")\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        160
      ],
      "id": "8295adfa-24f5-4500-b7bc-1feb2c15e858",
      "name": "PDF Text Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        -448
      ],
      "id": "69c8303c-3ae4-4644-8b86-d2ea1842035b",
      "name": "RTF Merge",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        192
      ],
      "id": "ae91c956-c7a3-47ad-b5f6-655ff92fb018",
      "name": "PDF Merge",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -256,
        -576
      ],
      "id": "43e88ece-b085-4f29-944e-d0e63e1416ed",
      "name": "Final  Merge",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab012a2b-0603-4a58-8d54-2e3c5d27955f",
              "name": "final_message3",
              "value": "=Product: {{ $json['Product Name'] }}\n\nCategory: {{ $json.Category }}\n\nDepartment :{{ $json.Department }}\n\nDetails: \n{{ $json.Description }}\n\nMore Files\n- {{ $json.cleanpdf }}\n\n- {{ $json['Clean-RTF'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -544
      ],
      "id": "9cdba80f-12cb-45d9-9fc2-426677cf6db5",
      "name": "Final Response"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.rtf_ai_context || \"\";\n\n// Remove \"(Unknown File)\" blocks + binary garbage\nlet cleaned = raw\n    .replace(/RTF DOCUMENT CONTENT\\s*\\(Unknown File\\).*?\\n/i, \"RTF DOCUMENT CONTENT:\\n\")\n    .replace(/[0-9]{10,}/g, \"\") // long garbage numbers\n    .replace(/\\\\[a-zA-Z]+\\d*/g, \"\") // rtf control words\n    .replace(/\\* [0-9a-zA-Z]{10,}/g, \"\") // huge * 000000 blocks\n    .replace(/-{3,}/g, \"\") // separators\n    .replace(/\\n{3,}/g, \"\\n\\n\") // too many new lines\n    .trim();\n\n// Clean download list\nlet dl = ($json.rtf_download_list || \"\")\n    .replace(/\\n{3,}/g, \"\\n\")\n    .trim();\n\nreturn {\n  rtf_ai_context: cleaned,\n  rtf_download_list: dl\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -496
      ],
      "id": "d16d172e-d507-4e80-97d5-4eee7aee0a04",
      "name": "Clean RTF"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.pdf_ai_context || \"\";\n\n// Remove (Unknown File) header and normalize\nlet cleaned = raw\n    .replace(/PDF DOCUMENT CONTENT\\s*\\(Unknown File\\).*?\\n/i, \"PDF DOCUMENT CONTENT:\\n\")\n    .replace(/-{3,}/g, \"\") // remove separators\n    .replace(/\\n{3,}/g, \"\\n\\n\") // normalize spacing\n    .trim();\n\n// Clean download list\nlet dl = ($json.pdf_download_list || \"\")\n    .replace(/\\n{3,}/g, \"\\n\")\n    .trim();\n\nreturn {\n  pdf_ai_context: cleaned,\n  pdf_download_list: dl\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -48
      ],
      "id": "f0960eac-3924-4bfb-803f-4251390da59d",
      "name": "Clean PDF"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9f9734a-e764-465d-8bf6-9a68e7f54f06",
              "name": "Clean-RTF",
              "value": "={{ $json.rtf_ai_context }} \n{{ $json.rtf_download_list }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -512
      ],
      "id": "a34d1c55-f111-439b-8e35-ae18b53df506",
      "name": "Clean-RTF"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4feb2ef4-1ddd-4ff8-b998-813645d4a03f",
              "name": "cleanpdf",
              "value": "={{ $json.pdf_ai_context }}\n{{ $json.pdf_download_list }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -272
      ],
      "id": "b393d4e5-f4a7-4c2b-bc9b-40056d7d33e6",
      "name": "Clean-PDF"
    },
    {
      "parameters": {
        "jsCode": "const downloadLinks = [];\n\nfor (const item of items) {\n    let fileId = null;\n    let fileName = null;\n\n    if (item.json.originalFileID) fileId = item.json.originalFileID;\n    else if (item.json.id) fileId = item.json.id;\n\n    if (item.json.originalFileName) fileName = item.json.originalFileName;\n    else if (item.json.name) fileName = item.json.name;\n\n    if (item.binary && item.binary.data && item.binary.data.fileName) {\n        fileName = item.binary.data.fileName;\n    }\n\n    if (fileId && fileName) {\n        const url = `https://drive.google.com/uc?export=download&id=${fileId}`;\n        downloadLinks.push(`- **${fileName}** → ${url}`);\n    }\n}\n\nreturn [{\n    json: {\n        pdf_download_list: downloadLinks.join(\"\\n\")\n    }\n}];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        352
      ],
      "id": "bbea0249-1228-483d-a528-f3ba13e1c535",
      "name": "PDF Files Code1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u7SAtNkwpUZdlKYdUCnTodmV3TDz5LRYMo--aRFqiL4",
          "mode": "list",
          "cachedResultName": "General (folder General) Product Catalog (Hardware & Software) - N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u7SAtNkwpUZdlKYdUCnTodmV3TDz5LRYMo--aRFqiL4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1777940039,
          "mode": "list",
          "cachedResultName": "General",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u7SAtNkwpUZdlKYdUCnTodmV3TDz5LRYMo--aRFqiL4/edit#gid=1777940039"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Product Name",
              "lookupValue": "={{ $json.body.Search }}"
            },
            {
              "lookupColumn": "Category",
              "lookupValue": "={{ $json.body.Search }}"
            },
            {
              "lookupColumn": "Department",
              "lookupValue": "={{ $json.body.Search }}"
            },
            {
              "lookupColumn": "Description",
              "lookupValue": "={{ $json.body.Search }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -640,
        -176
      ],
      "id": "22ce39e0-6f2e-49c2-ac8c-769e33e8aed6",
      "name": "General Get row(s) in sheet",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "emOxEV9cfdMjtjeF",
          "name": "Google Sheets N8N"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.12.0",
            "content-length": "20",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "localhost:5678",
            "connection": "close"
          },
          "params": {},
          "query": {},
          "body": {
            "Search": "General"
          },
          "webhookUrl": "http://localhost:5678/webhook/About-Us-Genral-Chat-Option",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "General Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Files Code": {
      "main": [
        []
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Get File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Tansform File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from RTF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "PDF Text Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from RTF": {
      "main": [
        [
          {
            "node": "RTF Text Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File ID": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tansform File Info": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RTF Files Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RTF Text Code": {
      "main": [
        [
          {
            "node": "RTF Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RTF Files Code": {
      "main": [
        [
          {
            "node": "RTF Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PDF Text Code": {
      "main": [
        [
          {
            "node": "PDF Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RTF Merge": {
      "main": [
        [
          {
            "node": "Clean RTF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Merge": {
      "main": [
        [
          {
            "node": "Clean PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final  Merge": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean RTF": {
      "main": [
        [
          {
            "node": "Clean-RTF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean PDF": {
      "main": [
        [
          {
            "node": "Clean-PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean-RTF": {
      "main": [
        [
          {
            "node": "Final  Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Clean-PDF": {
      "main": [
        [
          {
            "node": "Final  Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "PDF Files Code1": {
      "main": [
        [
          {
            "node": "PDF Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "General Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Final  Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bdfe62ad-bb13-438d-9183-559a72bf6e25",
  "meta": {
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "zu8AJDqFNTBBb9IK",
  "tags": []
}