OLD-Backups/N8N-Multi-Tier-MYSQL-December-26/Logged In Guard Middleware Extended DataPassthrough.json
{
  "name": "Logged In Guard Middleware Extended DataPassthrough",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        48
      ],
      "id": "a856fc8a-57e4-4b44-b5e1-6552fb57089e",
      "name": "When clicking ‘Execute workflow’",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbf06720-82a4-4b0b-89c2-d11315d9851a",
              "leftValue": "={{ Number($json.isauthenticatedbysanctumfirstcheck) }}",
              "rightValue": "414",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -64
      ],
      "id": "9a6c6361-2411-4950-9989-2924de8dc7b3",
      "name": "If Logged in"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSRKIfx8ndL0Qtx",
          "mode": "list",
          "cachedResultName": "N8N Chat Scraper",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx"
        },
        "table": {
          "__rl": true,
          "value": "tblmcZeAoJSPeCoNx",
          "mode": "list",
          "cachedResultName": "secrettable",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx/tblmcZeAoJSPeCoNx"
        },
        "filterByFormula": "=ipaddress = \"{{ $json.MyIP }}\"\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -96,
        -208
      ],
      "id": "f0630c7f-65da-429e-ab3e-ab5b4f4e4efe",
      "name": "Retrieve Token By IP Address",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "b4bdqV7yCwNwcBgT",
          "name": "Airtable Personal Access Token account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Collect all input items (each record)\nconst items = $input.all();\nconst settings = {};\n\n// Loop through them and map key → value\nfor (const item of items) {\n  const row = item.json;\n  settings[row.key] = row.value;\n}\n\n// Optionally store globally for later nodes\n$vars.settings = settings;\n\n// Return as output\nreturn [{ json: settings }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        48
      ],
      "id": "86061c12-baca-46cb-a8e8-ef91ba15e6eb",
      "name": "Retrieve central settings"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nwlYnH8lbFWbGriq",
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "/projects/cq8LPFRw7xIWBu7h/datatables/nwlYnH8lbFWbGriq"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "da78cf0d-4e8c-4551-93fc-537fb06a8ec0",
      "name": "Datatabel Central Settings"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Redirecting...</title>\n\n  <meta http-equiv=\"refresh\" content=\"3; url={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/73c72dd0-6e4a-414e-9ad8-cf9524371a11\">\n</head>\n<body style=\"font-family: Arial, sans-serif; text-align: center; padding: 50px; background: #f0f8ff;\">\n  <h2>We wil take you to the login page now</h2>\n  <p>Now we wil go to the login form in a moment...</p>\n<p>The link is: \n\n<a href = '{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/73c72dd0-6e4a-414e-9ad8-cf9524371a11' target ='_blank'> \n\n&raquo; Laravel Login </a> </p>\n  <p id=\"status\" style=\"color: #666;\">If it doesn't open, you'll be redirected shortly.</p>\n  \n  <script>\n    (function() {\n      const formUrl = '{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/73c72dd0-6e4a-414e-9ad8-cf9524371a11';\n      \n      // Try to open in new window immediately (most browsers allow in response context)\n      const newWindow = window.open(formUrl, '_blank', 'width=600,height=700,scrollbars=yes,resizable=yes');\n      \n      if (newWindow) {\n        // Success: Update status and close this tab after delay\n        document.getElementById('status').textContent = 'Form opened in new window! Closing this page...';\n        setTimeout(() => { window.close(); }, 2000);\n      } else {\n        // Blocked: Rely on meta redirect (current tab jumps to form)\n        document.getElementById('status').textContent = 'Popup blocked—redirecting to form now.';\n      }\n    })();\n  </script>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        480,
        240
      ],
      "id": "48ece452-5871-46fb-86dc-4d22d6607fe6",
      "name": "redirect to login"
    },
    {
      "parameters": {
        "url": "={{ $('Retrieve central settings').item.json.LARAVEL_BACKEND_API }}/check-auth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" +$json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        -176
      ],
      "id": "00cbc224-37d3-4443-8649-cf6ab8f798f4",
      "name": "check authenthcation",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0419401-4284-47fc-b52c-205ec03be0c9",
              "name": "token",
              "value": "={{ $('Execute a SQL query').item.json.token }}",
              "type": "string"
            },
            {
              "id": "bc167602-4c40-4ace-86ba-5f615bd6c44a",
              "name": "LARAVEL_BACKEND_IP",
              "value": "={{ $('Retrieve central settings').item.json.LARAVEL_BACKEND_API }}",
              "type": "string"
            },
            {
              "id": "da890c79-57e9-4582-87d7-8a0c47797107",
              "name": "LARAVEL_BACKEND",
              "value": "={{ $('Retrieve central settings').item.json.LARAVEL_BACKEND }}",
              "type": "string"
            },
            {
              "id": "200d8df9-48f4-4c8c-9854-31ca0340881b",
              "name": "N8N_FRONTEND",
              "value": "={{ $('Retrieve central settings').item.json.LARAVEL_BACKEND_API }}",
              "type": "string"
            },
            {
              "id": "8e583383-ee20-4288-ab45-3c904be1c834",
              "name": "LARAVEL_BACKEND_MCP",
              "value": "={{ $('Retrieve central settings').item.json.LARAVEL_BACKEND_MCP }}",
              "type": "string"
            },
            {
              "id": "c6bfe1e8-7803-4bbe-a81e-a21c3ebe8b78",
              "name": "isauthenticatedbysanctumfirstcheck",
              "value": "={{ $json.isauthenticatedbysanctumfirstcheck }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -144
      ],
      "id": "d8c152e6-3023-4e84-a70b-c18dc5db57c7",
      "name": "token and settings",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM secrettable WHERE ipaddress = '{{ $json.MyIP }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        288,
        48
      ],
      "id": "7f420bf8-258c-48e2-98fa-da6292758ac6",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "2lKug6PdOc5btt3K",
          "name": "Central N8N Database"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If Logged in": {
      "main": [
        [
          {
            "node": "token and settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redirect to login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Token By IP Address": {
      "main": [
        []
      ]
    },
    "Retrieve central settings": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datatabel Central Settings": {
      "main": [
        [
          {
            "node": "Retrieve central settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check authenthcation": {
      "main": [
        [
          {
            "node": "If Logged in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Datatabel Central Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "check authenthcation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3dae9ad7-1a19-40df-bcab-2bbb5a354ea5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "eKaxo2XAmciiBz7b",
  "tags": []
}