OLD-Backups/November19/MCP-December5/Retrieve categories direct for preseneting.json
{
  "name": "Retrieve categories direct for preseneting",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JZVjEJheLGlDnNz4",
          "mode": "list",
          "cachedResultUrl": "/workflow/JZVjEJheLGlDnNz4",
          "cachedResultName": "Centralized Database Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1136,
        -496
      ],
      "id": "a44c1cd1-b1a9-4b43-8eb8-689966532adf",
      "name": "Call 'Centralized Database Settings'",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.LARAVEL_BACKEND_IP }}/admin/cats/catsconditioned",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.token }}"
            },
            {
              "name": "Accept",
              "value": "\"application/json\""
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "department",
              "value": "={{ $('Edit Fields').item.json.department }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -864,
        -464
      ],
      "id": "1ccb8c45-6900-4011-9eee-39e7bb33293d",
      "name": "Call categories"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $json.data }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -640,
        -512
      ],
      "id": "8bebc2a9-e208-44c1-be4d-f8b8f9e3a73c",
      "name": "Loop Over Items",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "present-categories",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1904,
        -1120
      ],
      "id": "7bbb7dac-e0b6-4a97-97fe-aa9bd3a2cc63",
      "name": "Webhook",
      "webhookId": "d6faa39a-dbb0-46eb-ab75-2f8f40eae0c5",
      "disabled": true
    },
    {
      "parameters": {
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1888,
        -976
      ],
      "id": "2ca8ca2e-c2d1-4530-9db1-923002d8c93e",
      "name": "Respond to Chat",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1808,
        -480
      ],
      "id": "69ab0fd6-e2eb-4c53-a00f-3e8675c96635",
      "name": "When Executed by Another Workflow",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62c05b48-965f-46e3-96c0-4749c6f7a847",
              "name": "department",
              "value": "={{ $json.department }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        -464
      ],
      "id": "32a3447e-d077-4761-8645-d95fed574ec4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1872,
        -800
      ],
      "id": "b8d84249-dbed-4dc5-ad79-bb14b62db17c",
      "name": "When chat message received",
      "webhookId": "e7be795c-ffc5-443d-a9eb-7b1ecaf51011"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96da92f4-4e08-46b2-b654-74fdeb54786d",
              "name": "Final Message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -496
      ],
      "id": "88af4d5d-d5a4-48fd-aa2d-39a274622bfd",
      "name": "Final Message Back"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n    const categories = item.json.data;\n\n    // Handle empty list\n    if (!categories || categories.length === 0) {\n        return [{ json: { message: \"No categories found.\" }}];\n    }\n\n    // Start message with spacing\n    let message = \"📦 **Found Categories**\\n\\n\";\n\n    // Table header with padding\n    message += \"|   ID   |         Name         |    Dept    |    Date    |\\n\";\n    message += \"|--------|-----------------------|------------|-------------|\\n\";\n\n    // Build rows with padding + vertical spacing\n    categories.forEach(cat => {\n        // Format ID\n        const id = String(cat.id ?? \"N/A\").padEnd(6, \" \");\n\n        // Name (truncate + pad)\n        const name = String(cat.name ?? \"N/A\")\n            .substring(0, 20)\n            .padEnd(21, \" \");\n\n        // Department padding\nlet departmentValue = cat.department;\n\n// Convert arrays or nulls properly\nif (Array.isArray(departmentValue)) {\n    departmentValue = departmentValue[0] ?? \"N/A\";\n}\nif (!departmentValue) {\n    departmentValue = \"N/A\";\n}\n\nconst department = String(departmentValue).padEnd(10, \" \");\n\n\n        // Date formatting\n        let date = \"N/A\";\n        if (cat.created_at) {\n            const d = new Date(cat.created_at);\n            date = d.toISOString().slice(0, 10);\n        }\n        const dateCell = date.padEnd(11, \" \");\n\n        // Add table row\n        message += `| ${id} | ${name} | ${department} | ${dateCell} |\\n`;\n\n        // Add vertical spacing between rows\n        message += \"\\n\";\n    });\n\n    // Final spacing after the table\n    message += \"\\n\";\n\n    // RETURN ONLY THE CLEAN HUMAN-READABLE TABLE\n    return [{ json: { message } }];\n}\n\nreturn items;\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -528
      ],
      "id": "cc8a09db-74b6-4fb1-9f2f-6465c7e7f220",
      "name": "Prettify"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.12.0",
            "content-length": "22",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "localhost:5678",
            "connection": "close"
          },
          "params": {},
          "query": {},
          "body": {
            "department": "Sales"
          },
          "webhookUrl": "http://localhost:5678/webhook/present-categories",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Call 'Centralized Database Settings'": {
      "main": [
        [
          {
            "node": "Call categories",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call categories": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Prettify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'Centralized Database Settings'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prettify": {
      "main": [
        [
          {
            "node": "Final Message Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e0a88a22-b830-4666-aef2-8f0aec483979",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "A7phypL4m1wVXjqb",
  "tags": [
    {
      "updatedAt": "2025-11-23T17:42:58.389Z",
      "createdAt": "2025-11-23T17:42:58.389Z",
      "id": "FsHIKYm9vwbkDEOU",
      "name": "Laravel"
    },
    {
      "updatedAt": "2025-11-07T07:23:38.741Z",
      "createdAt": "2025-11-07T07:23:38.741Z",
      "id": "TWsYYNBzNGqDJD6V",
      "name": "MySQL"
    },
    {
      "updatedAt": "2025-11-07T07:23:33.589Z",
      "createdAt": "2025-11-07T07:23:33.589Z",
      "id": "ju6oZGlZoIkhNWRX",
      "name": "AirTable"
    }
  ]
}