OLD-Backups/OLD/November19/N8N-Laravel-Integration/Add Category version 2 copy -November 18 2025/Add Category version 2 copy -November 18 2025.json
{
  "name": "Add Category version 2 copy -November 18 2025",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Add category",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "requiredField": true
            },
            {
              "fieldLabel": "department",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Marketing"
                  },
                  {
                    "option": "Sales"
                  },
                  {
                    "option": "PR"
                  },
                  {
                    "option": "HR"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Document",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": "image/jpeg,image/png,image/gif,text/plain,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            },
            {
              "fieldLabel": "Image",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": "image/jpeg,image/png,image/gif"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -4016,
        -448
      ],
      "id": "630e4137-c7e1-4a30-b7aa-8eab03c185ab",
      "name": "Adding category",
      "webhookId": "e701f0a4-32eb-4962-a143-b83d5b884e48",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1872,
        -1056
      ],
      "id": "2ed7bcb6-05e2-42e7-b28d-3dd1e0929d37",
      "name": "finalmerge",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3552,
        -400
      ],
      "id": "012c755b-4db2-4a41-a6a5-b320a72daa37",
      "name": "Merge two files",
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "merging two filesss"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "Image",
        "destinationKey": "ImageRaw",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3856,
        -768
      ],
      "id": "f43e9916-2d78-4c41-926b-e0747bba71c2",
      "name": "Extract from Image",
      "notesInFlow": true,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "Document",
        "destinationKey": "FileRaw",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3872,
        -80
      ],
      "id": "f981e37d-1011-42cc-a0b8-4f0ff924cd5c",
      "name": "Extract from File",
      "notesInFlow": true,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput",
      "notes": "file extract error"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "ImageRaw",
        "binaryPropertyName": "ImageConverted",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3360,
        -784
      ],
      "id": "cf3db6e4-b71e-4f2e-aa15-f3f523da8843",
      "name": "Convert to Image",
      "notesInFlow": true,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "FileRaw",
        "binaryPropertyName": "FileConverted",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3696,
        64
      ],
      "id": "03007050-63f5-410a-99c9-969e75788d02",
      "name": "Convert to File",
      "notesInFlow": true,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput",
      "notes": "file convert error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9bc3f949-edcf-4321-8a69-90e2c2678875",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "6482c306-95c5-4dc8-93cb-e7b73e2ce553",
              "name": "department",
              "value": "={{ $json.department }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3360,
        -144
      ],
      "id": "a2d03d1e-52d6-4dea-bd1d-96789b73b7ae",
      "name": "The text Values",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3200,
        -528
      ],
      "id": "b481c39c-b6b1-4a18-80e5-edbabedc63f0",
      "name": "Text and Binary",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// Detect binary presence and force booleans\nconst imgNew  = !!item.binary?.ImageConverted;\nconst fileNew = !!item.binary?.FileConverted;\n\nconst imgOld  = !!item.binary?.ImageOriginal;\nconst fileOld = !!item.binary?.FileOriginal;\n\n// Build the output item\nconst out = {\n    json: {\n        imgNew,\n        fileNew,\n        imgOld,\n        fileOld\n    }\n};\n\n// Only copy existing binary if it exists\nif (item.binary) {\n    out.binary = item.binary;\n}\n\nreturn [out];\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3104,
        -320
      ],
      "id": "d0f87508-65d4-47da-8fb6-29871436327d",
      "name": "Checking the Image and Docuemnt Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"imgNew\"] === true && $json[\"fileNew\"] === true }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "9588c5a8-622f-46ff-ba98-1c419eb8ee41"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image and Docuemnt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6bc0e1f-7d63-4420-a554-fdad5b071afb",
                    "leftValue": "={{ $json[\"imgNew\"] === true && $json[\"fileNew\"] === false }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Only Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "034f1d1f-a83c-4561-a7c9-74be7041ca82",
                    "leftValue": "={{ $json[\"imgNew\"] === false && $json[\"fileNew\"] === true }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Only File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77386751-04d3-4f62-af28-ec8118943a6a",
                    "leftValue": "={{ $json[\"imgNew\"] === false && $json[\"fileNew\"] === false }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Only Text"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2896,
        -352
      ],
      "id": "e8830e0c-5043-4f01-a19c-3da5eba6d6ab",
      "name": "Switch",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af8e7f75-83e8-4a97-b5eb-bfc021869bfa",
              "name": "name",
              "value": "={{ $('Adding category').item.json.name }}",
              "type": "string"
            },
            {
              "id": "79fa6808-7454-4c4e-925a-4dc66cc84e48",
              "name": "department",
              "value": "={{ $('Adding category').item.json.department }}",
              "type": "string"
            },
            {
              "id": "bcd0bbf9-e0a1-47b3-89c3-abe8f57af8d9",
              "name": "filenew",
              "value": "={{ $binary.FileConverted ? 'FileConverted' : null }}",
              "type": "binary"
            },
            {
              "id": "4fdcda9c-7e74-49c1-8ead-0e9f795adc0e",
              "name": "imgnew",
              "value": "={{ $binary.ImageConverted ? 'ImageConverted' : null }}",
              "type": "binary"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2656,
        -912
      ],
      "id": "4ebf2a66-f15c-465b-9dc4-20b7c6611089",
      "name": "Full",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "former2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af8e7f75-83e8-4a97-b5eb-bfc021869bfa",
              "name": "name",
              "value": "={{ $('Adding category').item.json.name }}",
              "type": "string"
            },
            {
              "id": "79fa6808-7454-4c4e-925a-4dc66cc84e48",
              "name": "department",
              "value": "={{ $('Adding category').item.json.department }}",
              "type": "string"
            },
            {
              "id": "4fdcda9c-7e74-49c1-8ead-0e9f795adc0e",
              "name": "imgnew",
              "value": "={{ $binary.ImageConverted ? 'ImageConverted' : null }}",
              "type": "binary"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2608,
        -656
      ],
      "id": "ca9580bc-569f-4731-be7c-34c7e96d8002",
      "name": "Only Images",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "former2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.LARAVEL_BACKEND_IP }}/admin/cats/store",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Full').last().json.name }}"
            },
            {
              "name": "department",
              "value": "={{ $('Full').last().json.department }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "img",
              "inputDataFieldName": "=ImageConverted"
            },
            {
              "parameterType": "formBinaryData",
              "name": "filer",
              "inputDataFieldName": "FileConverted"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1552,
        -1104
      ],
      "id": "6383bef1-b509-489b-8f10-e1eedfc83ecb",
      "name": "HTTP Request Full",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2048,
        -640
      ],
      "id": "3fc499f0-734c-4a42-a11e-9905ebea36e1",
      "name": "finalmerge Images Text",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.LARAVEL_BACKEND_IP }}/admin/cats/store",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Only Images').last().json.name }}"
            },
            {
              "name": "department",
              "value": "={{ $('Only Images').last().json.department }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "img",
              "inputDataFieldName": "=ImageConverted"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1536,
        -800
      ],
      "id": "94a73cc2-bd75-49b7-aaf2-db1eafe20c74",
      "name": "HTTP Request Images",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af8e7f75-83e8-4a97-b5eb-bfc021869bfa",
              "name": "name",
              "value": "={{ $('Adding category').item.json.name }}",
              "type": "string"
            },
            {
              "id": "79fa6808-7454-4c4e-925a-4dc66cc84e48",
              "name": "department",
              "value": "={{ $('Adding category').item.json.department }}",
              "type": "string"
            },
            {
              "id": "bcd0bbf9-e0a1-47b3-89c3-abe8f57af8d9",
              "name": "filenew",
              "value": "={{ $binary.FileConverted ? 'FileConverted' : null }}",
              "type": "binary"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2672,
        -336
      ],
      "id": "0e047b0a-9934-4059-8ad1-9e0f4e69b824",
      "name": "Only File",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "former2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2224,
        -256
      ],
      "id": "b89ce134-3ac2-425b-bc98-a331bdd2047e",
      "name": "finalmerge File and Token",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.LARAVEL_BACKEND_IP }}/admin/cats/store",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Only File').last().json.name }}"
            },
            {
              "name": "department",
              "value": "={{ $('Only File').last().json.department }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "filer",
              "inputDataFieldName": "FileConverted"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2000,
        -416
      ],
      "id": "16cb8d3e-bc27-49e1-9346-85f256b2f8b8",
      "name": "HTTP Request File",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af8e7f75-83e8-4a97-b5eb-bfc021869bfa",
              "name": "name",
              "value": "={{ $('Adding category').item.json.name }}",
              "type": "string"
            },
            {
              "id": "79fa6808-7454-4c4e-925a-4dc66cc84e48",
              "name": "department",
              "value": "={{ $('Adding category').item.json.department }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2736,
        128
      ],
      "id": "a99c5530-96fd-4c18-b74c-4fa564d84087",
      "name": "OnlyText",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "former2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2336,
        176
      ],
      "id": "c44367cb-2417-4061-aec7-3e8580cdcb26",
      "name": "finalmerge Text and Token1",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.LARAVEL_BACKEND_IP }}/admin/cats/store",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('OnlyText').last().json.name }}"
            },
            {
              "name": "department",
              "value": "={{ $('OnlyText').last().json.department }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2064,
        64
      ],
      "id": "ae01fa3c-7195-4b50-ba93-941098bca0c7",
      "name": "HTTP Request Text",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JZVjEJheLGlDnNz4",
          "mode": "list",
          "cachedResultUrl": "/workflow/JZVjEJheLGlDnNz4",
          "cachedResultName": "Centralized Database Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2144,
        -1120
      ],
      "id": "b7b2ab35-7055-4d42-a952-3cd60d73a3af",
      "name": "Call 'Centralized Database Settings'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JZVjEJheLGlDnNz4",
          "mode": "list",
          "cachedResultUrl": "/workflow/JZVjEJheLGlDnNz4",
          "cachedResultName": "Centralized Database Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2192,
        -864
      ],
      "id": "64ab9bba-12d5-4757-aefc-f66f0524914c",
      "name": "Call 'Centralized Database Settings'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JZVjEJheLGlDnNz4",
          "mode": "list",
          "cachedResultUrl": "/workflow/JZVjEJheLGlDnNz4",
          "cachedResultName": "Centralized Database Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2400,
        -496
      ],
      "id": "ba4e3c48-ade9-4423-83de-dbc8e09c95cf",
      "name": "Call 'Centralized Database Settings'2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JZVjEJheLGlDnNz4",
          "mode": "list",
          "cachedResultUrl": "/workflow/JZVjEJheLGlDnNz4",
          "cachedResultName": "Centralized Database Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2496,
        -64
      ],
      "id": "88a1a0e2-557f-46c0-b03a-1b3d116fe3d7",
      "name": "Call 'Centralized Database Settings'3"
    }
  ],
  "pinData": {},
  "connections": {
    "Adding category": {
      "main": [
        [
          {
            "node": "Extract from Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "The text Values",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "finalmerge": {
      "main": [
        [
          {
            "node": "HTTP Request Full",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge two files": {
      "main": [
        [
          {
            "node": "Text and Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Image": {
      "main": [
        [
          {
            "node": "Convert to Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Image": {
      "main": [
        [
          {
            "node": "Merge two files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge two files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "The text Values": {
      "main": [
        [
          {
            "node": "Text and Binary",
            "type": "main",
            "index": 1
          }
        ],
        []
      ]
    },
    "Text and Binary": {
      "main": [
        [
          {
            "node": "Checking the Image and Docuemnt Code",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Checking the Image and Docuemnt Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Full",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Only Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Only File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnlyText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full": {
      "main": [
        [
          {
            "node": "finalmerge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Call 'Centralized Database Settings'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Images": {
      "main": [
        [
          {
            "node": "finalmerge Images Text",
            "type": "main",
            "index": 1
          },
          {
            "node": "Call 'Centralized Database Settings'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "finalmerge Images Text": {
      "main": [
        [
          {
            "node": "HTTP Request Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only File": {
      "main": [
        [
          {
            "node": "finalmerge File and Token",
            "type": "main",
            "index": 1
          },
          {
            "node": "Call 'Centralized Database Settings'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "finalmerge File and Token": {
      "main": [
        [
          {
            "node": "HTTP Request File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OnlyText": {
      "main": [
        [
          {
            "node": "finalmerge Text and Token1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Call 'Centralized Database Settings'3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "finalmerge Text and Token1": {
      "main": [
        [
          {
            "node": "HTTP Request Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Centralized Database Settings'": {
      "main": [
        [
          {
            "node": "finalmerge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Centralized Database Settings'1": {
      "main": [
        [
          {
            "node": "finalmerge Images Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Centralized Database Settings'2": {
      "main": [
        [
          {
            "node": "finalmerge File and Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Centralized Database Settings'3": {
      "main": [
        [
          {
            "node": "finalmerge Text and Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6768af4-c28e-4713-8b01-88f69e8ae8d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "8cnRXZ8lGn6NOf9k",
  "tags": [
    {
      "updatedAt": "2025-11-18T06:17:31.875Z",
      "createdAt": "2025-11-18T06:17:31.875Z",
      "id": "beDIOkgiMH4ml5ww",
      "name": "backup"
    }
  ]
}