November 26/December-10/MCP-December-10/Retrieve categories direct for preseneting.json
{
  "name": "Retrieve categories direct for preseneting",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JZVjEJheLGlDnNz4",
          "mode": "list",
          "cachedResultUrl": "/workflow/JZVjEJheLGlDnNz4",
          "cachedResultName": "Centralized Database Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -640,
        -416
      ],
      "id": "a44c1cd1-b1a9-4b43-8eb8-689966532adf",
      "name": "Call 'Centralized Database Settings'",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.LARAVEL_BACKEND_IP }}/admin/cats/catsconditioned",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.token }}"
            },
            {
              "name": "Accept",
              "value": "\"application/json\""
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "department",
              "value": "={{ $('Webhook').item.json.body.department }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        -448
      ],
      "id": "1ccb8c45-6900-4011-9eee-39e7bb33293d",
      "name": "Call categories"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $json.data }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -256,
        -464
      ],
      "id": "8bebc2a9-e208-44c1-be4d-f8b8f9e3a73c",
      "name": "Loop Over Items",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba65d29e-2a3b-49bd-822f-f10e9cd98c64",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "64bd5d80-5409-4ad5-954f-92bcec38d6ef",
              "name": "name",
              "value": "={{ $json.name }}\n",
              "type": "string"
            },
            {
              "id": "b6123014-e18b-4e7a-aca4-b7bb6e7903bd",
              "name": "department",
              "value": "={{ $json.department }}",
              "type": "string"
            },
            {
              "id": "ff4a4a30-76c5-414b-8314-0d2055b339a4",
              "name": "img",
              "value": "={{ $('Call \\'Centralized Database Settings\\'').item.json.LARAVEL_BACKEND }}/{{ $json.img }}",
              "type": "string"
            },
            {
              "id": "16c6636f-4380-47d2-bf86-bfe6a02ecb34",
              "name": "filer",
              "value": "={{ $('Call \\'Centralized Database Settings\\'').item.json.LARAVEL_BACKEND }}/{{ $json.filer }}",
              "type": "string"
            },
            {
              "id": "44469cb7-0410-4dc8-9b09-c333db3819ab",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -384
      ],
      "id": "ef8d43bf-4b5a-479a-b23a-410b7a37cacd",
      "name": "Cat"
    },
    {
      "parameters": {
        "jsCode": "// Ensure input has items and data exists\nconst input = $input.all();\n\nif (!input.length || !input[0].json.data) {\n  return [];\n}\n\nconst rows = input[0].json.data;\nconst out = [];\n\nfor (const row of rows) {\n  out.push({ json: row });\n}\n\nreturn out;\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -448
      ],
      "id": "3dad8554-842a-4577-b143-6b4ac6d2f29f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c28616f1-8bfd-4f8a-8b6b-9f45076da897"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be302401-a7ce-415d-888a-373e165884ae",
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "Marketing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Marketing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "172ffc9b-8409-4d9f-b345-8ab63c5da349",
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "PR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2fae2511-f24f-40e2-91e0-426f23546103",
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "HR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "979eefc6-c89f-4819-ac28-7ce211614dd6",
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Blank"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -608,
        -128
      ],
      "id": "69ebd4ba-8f1a-42cd-bfed-a79bb07aa2a9",
      "name": "Switch"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "present-categories",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        -400
      ],
      "id": "7bbb7dac-e0b6-4a97-97fe-aa9bd3a2cc63",
      "name": "Webhook",
      "webhookId": "d6faa39a-dbb0-46eb-ab75-2f8f40eae0c5"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.12.0",
            "content-length": "22",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "localhost:5678",
            "connection": "close"
          },
          "params": {},
          "query": {},
          "body": {
            "department": "Sales"
          },
          "webhookUrl": "http://localhost:5678/webhook/present-categories",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Call 'Centralized Database Settings'": {
      "main": [
        [
          {
            "node": "Call categories",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call categories": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cat": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Cat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [],
        [],
        [],
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Call 'Centralized Database Settings'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42c9dfc0-99c2-4ccf-bbeb-54912e87051a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "A7phypL4m1wVXjqb",
  "tags": [
    {
      "updatedAt": "2025-11-23T17:42:58.389Z",
      "createdAt": "2025-11-23T17:42:58.389Z",
      "id": "FsHIKYm9vwbkDEOU",
      "name": "Laravel"
    },
    {
      "updatedAt": "2025-11-07T07:23:38.741Z",
      "createdAt": "2025-11-07T07:23:38.741Z",
      "id": "TWsYYNBzNGqDJD6V",
      "name": "MySQL"
    },
    {
      "updatedAt": "2025-11-07T07:23:33.589Z",
      "createdAt": "2025-11-07T07:23:33.589Z",
      "id": "ju6oZGlZoIkhNWRX",
      "name": "AirTable"
    }
  ]
}