OLD-Backups/November19/N8N-Multi-Tier-Apps-December-23/Laravel token Sub Flow.json
{
  "name": "Laravel token Sub Flow",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BSESgSV1qTyyR8xFg8kT5RodvrsRbb3ZqyBYKtXj0j0",
          "mode": "list",
          "cachedResultName": "Login Activity",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BSESgSV1qTyyR8xFg8kT5RodvrsRbb3ZqyBYKtXj0j0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "FirstTimeLogin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BSESgSV1qTyyR8xFg8kT5RodvrsRbb3ZqyBYKtXj0j0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Merge').item.json.fields.Email }}",
            "IP Address": "={{ $('Create or update a record').item.json.fields.ipaddress }}",
            "Token": "={{ $('Create or update a record').item.json.fields.token }}",
            "DateAdded": "={{ $('Create or update a record').item.json.fields[\"Date Added\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Token",
              "displayName": "Token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IP Address",
              "displayName": "IP Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DateAdded",
              "displayName": "DateAdded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        -400
      ],
      "id": "4a140aec-fb6c-4a54-9e84-39e7959f224d",
      "name": "Insert New Logged in User Data",
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "emOxEV9cfdMjtjeF",
          "name": "Google Sheets N8N"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "bediktest@gmail.com",
        "subject": "Logged in and added to Airtable database",
        "message": "=Logged in and added to Airtable database<br> Email: {{ $json.fields.Email }} \n<br> Token: {{ $json.fields.token }} < <br> IP Address: {{ $json.fields.ipaddress }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        -672
      ],
      "id": "de5ef8d1-8e4c-4101-ab27-6578a8226b1a",
      "name": "New Logged in User Notification",
      "webhookId": "6ea1dca9-c1b3-4d25-8ea6-df669e49fd07",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ozKOoFfLTOy5P7d",
          "name": "Google-N8N"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "token",
              "type": "any"
            },
            {
              "name": "ip",
              "type": "any"
            },
            {
              "name": "email",
              "type": "any"
            }
          ]
        }
      },
      "id": "c4b59a7a-825e-4f84-94c5-ac170a9d0f78",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -592,
        -464
      ],
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2abcf18-231e-490d-9bfc-6ff6c9981887",
              "name": "token",
              "value": "={{ $json.token }}",
              "type": "string"
            },
            {
              "id": "c37fa373-2224-43f9-85ef-426cae35e797",
              "name": "ip",
              "value": "={{ $json.ip }}",
              "type": "string"
            },
            {
              "id": "258f382c-cf6d-40d9-b4a8-b6840a1caacf",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -624
      ],
      "id": "0bc44e06-cf4c-48ec-aa58-6f0cdd9cbaf4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Collect all input items (each record)\nconst items = $input.all();\nconst settings = {};\n\n// Loop through them and map key → value\nfor (const item of items) {\n  const row = item.json;\n  settings[row.key] = row.value;\n}\n\n// Optionally store globally for later nodes\n$vars.settings = settings;\n\n// Return as output\nreturn [{ json: settings }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -640
      ],
      "id": "e7181eed-77b3-4b14-8b17-8062b20ed49f",
      "name": "Retrieve central settings"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nwlYnH8lbFWbGriq",
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "/projects/cq8LPFRw7xIWBu7h/datatables/nwlYnH8lbFWbGriq"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        656,
        -640
      ],
      "id": "67f840e6-0311-463b-ae8f-5b0a652e0cea",
      "name": "Datatable Central Settings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.N8N_FRONTEND }}/webhook/dashboard2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        -656
      ],
      "id": "fab88143-1dc7-4173-ae1f-a7f3d02316c4",
      "name": "Redirect to Dashboard",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appSRKIfx8ndL0Qtx",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblmcZeAoJSPeCoNx",
          "mode": "list",
          "cachedResultName": "secrettable",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx/tblmcZeAoJSPeCoNx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $('Start').item.json.token }}",
            "Date Added": "={{ $now }}",
            "ipaddress": "={{ $('Start').item.json.ip }}",
            "Email": "={{ $('Start').item.json.email }}",
            "OperationType": "Insert"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ipaddress",
              "displayName": "ipaddress",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OperationType",
              "displayName": "OperationType",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "N8N Logins",
              "displayName": "N8N Logins",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -80,
        -688
      ],
      "id": "a23dbf3e-119f-48fe-8155-1fc341c1be4a",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "b4bdqV7yCwNwcBgT",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<h2>Logged In - Dashboard Ready</h2>\n<p>Redirecting to dashboard...</p>\n<script>\n  setTimeout(() => {\n    window.location.href = '{{ $('Datatable Central Settings').item.json.value }}/webhook/dashboard2';  // Your dashboard content URL\n  }, 1000);\n</script>\n<a href=\"{{ $('Datatable Central Settings').item.json.value }}/webhook/dashboard2\">Click to continue</a>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1264,
        -752
      ],
      "id": "f056dba1-67ad-4ceb-b101-d32ce9a50f62",
      "name": "Redirecting"
    }
  ],
  "pinData": {},
  "connections": {
    "New Logged in User Notification": {
      "main": [
        [
          {
            "node": "Insert New Logged in User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Logged in User Data": {
      "main": [
        [
          {
            "node": "Datatable Central Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve central settings": {
      "main": [
        [
          {
            "node": "Redirect to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datatable Central Settings": {
      "main": [
        [
          {
            "node": "Retrieve central settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirect to Dashboard": {
      "main": [
        [
          {
            "node": "Redirecting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record": {
      "main": [
        [
          {
            "node": "New Logged in User Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11df2998-48a8-4351-aaaa-8882ecb1995d",
  "meta": {
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "a57JXfYyCtOCljoj",
  "tags": []
}