MCP-December-11/Dashboard Version 2.json
{
  "name": "Dashboard Version 2",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "dashboard2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        -16
      ],
      "id": "4f79a4e2-a45a-4f45-9f9f-7f59b02433c1",
      "name": "Webhook",
      "webhookId": "382f49dc-9ca0-49da-9022-b0e3c3194b10",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Collect all input items (each record)\nconst items = $input.all();\nconst settings = {};\n\n// Loop through them and map key → value\nfor (const item of items) {\n  const row = item.json;\n  settings[row.key] = row.value;\n}\n\n// Optionally store globally for later nodes\n$vars.settings = settings;\n\n// Return as output\nreturn [{ json: settings }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -80
      ],
      "id": "748728a6-669b-4dec-965b-58f3d0bba473",
      "name": "Retrieve central settings"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nwlYnH8lbFWbGriq",
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "/projects/cq8LPFRw7xIWBu7h/datatables/nwlYnH8lbFWbGriq"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        128,
        -48
      ],
      "id": "d21602de-8db2-4b47-b82c-283aaed2c654",
      "name": "Datatable Central Settings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.N8N_FRONTEND }}/webhook/auth-guard",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        -48
      ],
      "id": "99bdc8a4-4f25-4c6d-b925-bafad320f714",
      "name": "Call the Middleware"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dbf4d909-6c3f-447c-9bf9-e1f112bef9ad",
              "leftValue": "={{ $json.status }}",
              "rightValue": "logged_in",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -64
      ],
      "id": "02f38d5b-d5bd-4896-9fe5-3a91b6875fa7",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<html>\n<body>\n  <h1>Welcome to the dashboard</h1>\n  </p>\n<p>\n  <a href=\"{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/webhook/logout\" onclick=\"if(confirm('Logout?')) this.href += '?confirm=true';\">Logout</a>\n</p>\n<p>\n  <a href=\"{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/394b3921-858b-4b16-8724-84aab5c33838\">Add Category</a>\n</p>\n\n<p>\n  <a href=\"{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/webhook/retrievecategories\">Retrieve categories</a>\n</p>\n\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        -224
      ],
      "id": "901e3289-484c-467c-a3ec-b33f06f93c08",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<h2>Not Logged In</h2>\n<p>Redirecting to login...</p>\n<script>\n  setTimeout(() => {\n    window.location.href = '{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/webhook/61837825-ac01-4837-a114-09f4c35a0a21';  \n  }, 1000);\n</script>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        96
      ],
      "id": "91c23280-3d29-4028-a27d-755233a0175e",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -48,
        -288
      ],
      "id": "c860a949-15eb-46f1-98e7-36925f4f342c",
      "name": "Form",
      "webhookId": "02580a37-4a42-4b4b-99eb-1038d385b15e"
    }
  ],
  "pinData": {},
  "connections": {
    "Retrieve central settings": {
      "main": [
        [
          {
            "node": "Call the Middleware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Datatable Central Settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datatable Central Settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datatable Central Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datatable Central Settings": {
      "main": [
        [
          {
            "node": "Retrieve central settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call the Middleware": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "efca8365-fe6d-44d1-8a7c-80c3e9b7663c",
  "meta": {
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "xBYqpVi6XmZARQdq",
  "tags": []
}