N8N-Multi-Tier-MYSQL-December-27-28/Check logged in.json
{
  "name": "Check logged in",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSRKIfx8ndL0Qtx",
          "mode": "list",
          "cachedResultName": "N8N Chat Scraper",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx"
        },
        "table": {
          "__rl": true,
          "value": "tblmcZeAoJSPeCoNx",
          "mode": "list",
          "cachedResultName": "secrettable",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx/tblmcZeAoJSPeCoNx"
        },
        "filterByFormula": "=ipaddress = \"{{ $json.MyIP }}\"\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -272,
        -656
      ],
      "id": "5d82193f-e180-4290-bfa1-b3a16d44174c",
      "name": "Retrieve Token By IP Address",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "b4bdqV7yCwNwcBgT",
          "name": "Airtable Personal Access Token account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Collect all input items (each record)\nconst items = $input.all();\nconst settings = {};\n\n// Loop through them and map key → value\nfor (const item of items) {\n  const row = item.json;\n  settings[row.key] = row.value;\n}\n\n// Optionally store globally for later nodes\n$vars.settings = settings;\n\n// Return as output\nreturn [{ json: settings }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -176
      ],
      "id": "a71ddea8-52ad-4bb9-a5d2-f06e5ba64ac7",
      "name": "Retrieve central settings"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nwlYnH8lbFWbGriq",
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "/projects/cq8LPFRw7xIWBu7h/datatables/nwlYnH8lbFWbGriq"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -416,
        -160
      ],
      "id": "b95a2559-74f7-4064-93a8-670c245b5004",
      "name": "Datatabel Central Settings"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"logged_in\",\n  \"message\": \"Dashboard ready, welcome\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        -432
      ],
      "id": "2dbef438-e440-4adf-a018-fc79c07903db",
      "name": "Loggedin"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        -256
      ],
      "id": "69dc806c-9a03-40ec-863b-9f3337d3c925",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "={{ $('Datatabel Central Settings').all().find(item => item.json.key === 'N8N_FRONTEND').json.value }}/webhook/dashboard2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        -288
      ],
      "id": "697fccef-c6a6-4012-94e1-2c82833692d4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1ca9c34-48f7-4083-ba00-35258a67121e",
              "name": "status",
              "value": "={{ $('Execute a SQL query').first()?.json?.id ? \"alreadyLoggedIn\" : \"notLoggedIn\" }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -288
      ],
      "id": "fbc39c6c-9073-466e-8f94-022f4a6e4373",
      "name": "Final Result",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM secrettable WHERE ipaddress = '{{ $json.MyIP }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        80,
        -176
      ],
      "id": "df4219c1-2fdb-4065-b066-a6b77694593f",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "2lKug6PdOc5btt3K",
          "name": "Central N8N Database"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "email": "bediktest@gmail.com",
          "password": "12345678",
          "remember": [],
          "submittedAt": "2025-12-21T05:17:41.649-05:00",
          "formMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Retrieve Token By IP Address": {
      "main": [
        []
      ]
    },
    "Retrieve central settings": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datatabel Central Settings": {
      "main": [
        [
          {
            "node": "Retrieve central settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Datatabel Central Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8eec8dfe-9d3a-4842-a79f-8242523e166b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "Y9dxjssFlr9TljLE",
  "tags": []
}