N8N-Multi-Tier-MYSQL-December-27-28/Start Laravel communication Version Broadcasting.json
{
  "name": "Start Laravel communication Version Broadcasting",
  "nodes": [
    {
      "parameters": {
        "path": "broadcastingentry",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2480,
        -512
      ],
      "id": "a53374bf-6df5-4ff1-b3cf-2fc0266f348c",
      "name": "LoginEntry",
      "webhookId": "1cf736df-2956-4bce-b6b0-34f7c421b5e6"
    },
    {
      "parameters": {
        "url": "={{ $('Retrieve central settings').item.json.LARAVEL_BACKEND_API2 }}/check-auth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" +$json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1440,
        -944
      ],
      "id": "d962774c-cf4b-4787-b31d-521d9dbf8eaf",
      "name": "check authenthcation",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Redirecting...</title>\n  <meta http-equiv=\"refresh\" content=\"3; url={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/f9a064a6-60e2-4261-bd48-5151c18dccbb?N8N_FRONTEND={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}\">\n</head>\n<body style=\"font-family: Arial, sans-serif; text-align: center; padding: 50px; background: #f0f8ff;\">\n  <h2>We wil take you to the Event broadcasting login page now</h2>\n  <p>Now we wil go to the login form in a moment...</p>\n  <p>The link is:\n  <a href = '{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/f9a064a6-60e2-4261-bd48-5151c18dccbb?N8N_FRONTEND={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}' target ='_blank'>\n  &raquo; Laravel Login to Broadcasting Event System </a> </p>\n  <p id=\"status\" style=\"color: #666;\">If it doesn't open, you'll be redirected shortly.</p>\n \n  <script>\n    (function() {\n      const formUrl = '{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/f9a064a6-60e2-4261-bd48-5151c18dccbb?N8N_FRONTEND={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}';\n     \n      // Try to open in new window immediately (most browsers allow in response context)\n      const newWindow = window.open(formUrl, '_blank', 'width=600,height=700,scrollbars=yes,resizable=yes');\n     \n      if (newWindow) {\n        // Success: Update status and close this tab after delay\n        document.getElementById('status').textContent = 'Form opened in new window! Closing this page...';\n        setTimeout(() => { window.close(); }, 2000);\n      } else {\n        // Blocked: Rely on meta redirect (current tab jumps to form)\n        document.getElementById('status').textContent = 'Popup blocked—redirecting to form now.';\n      }\n    })();\n  </script>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1280,
        -336
      ],
      "id": "c57734ce-8a13-4899-9c91-fe457d92f9eb",
      "name": "redirect to login"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nwlYnH8lbFWbGriq",
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "/projects/cq8LPFRw7xIWBu7h/datatables/nwlYnH8lbFWbGriq"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2304,
        -576
      ],
      "id": "ee15ff8b-87be-4878-b41e-fe04545c5c25",
      "name": "Datatabel Central Settings"
    },
    {
      "parameters": {
        "jsCode": "// Collect all input items (each record)\nconst items = $input.all();\nconst settings = {};\n\n// Loop through them and map key → value\nfor (const item of items) {\n  const row = item.json;\n  settings[row.key] = row.value;\n}\n\n// Optionally store globally for later nodes\n$vars.settings = settings;\n\n// Return as output\nreturn [{ json: settings }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        -576
      ],
      "id": "e56d7d03-f85b-4b8b-a970-0901ef3fa7e9",
      "name": "Retrieve central settings"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSRKIfx8ndL0Qtx",
          "mode": "list",
          "cachedResultName": "N8N Chat Scraper",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx"
        },
        "table": {
          "__rl": true,
          "value": "tblAWrKygkDwyq1XB",
          "mode": "list",
          "cachedResultName": "secrettable2",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx/tblAWrKygkDwyq1XB"
        },
        "filterByFormula": "=ipaddress = \"{{ $json.MyIP2 }}\"\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -2272,
        -912
      ],
      "id": "3a517c7f-5dac-4982-8267-f520b39c812b",
      "name": "Retrieve Token By IP Address",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "b4bdqV7yCwNwcBgT",
          "name": "Airtable Personal Access Token account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbf06720-82a4-4b0b-89c2-d11315d9851a",
              "leftValue": "={{ Number($json.isauthenticatedbysanctumfirstcheck) }}",
              "rightValue": "414",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1632,
        -400
      ],
      "id": "d155f5f7-6d09-43ec-9589-e3916698395a",
      "name": "If Logged in"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BSESgSV1qTyyR8xFg8kT5RodvrsRbb3ZqyBYKtXj0j0",
          "mode": "list",
          "cachedResultName": "Login Activity",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BSESgSV1qTyyR8xFg8kT5RodvrsRbb3ZqyBYKtXj0j0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1111960932,
          "mode": "list",
          "cachedResultName": "ReturnedLogin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BSESgSV1qTyyR8xFg8kT5RodvrsRbb3ZqyBYKtXj0j0/edit#gid=1111960932"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('If Logged in').item.json.user.email }}",
            "Token": "={{ $('mysqlretrievel').item.json.token }}",
            "IP Address": "={{ $('mysqlretrievel').item.json.ipaddress }}",
            "DateAdded": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Token",
              "displayName": "Token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IP Address",
              "displayName": "IP Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DateAdded",
              "displayName": "DateAdded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1216,
        -912
      ],
      "id": "bf38d89b-511f-4e21-a990-a97e06bf545e",
      "name": "Insert Already Logged in record to google sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "emOxEV9cfdMjtjeF",
          "name": "Google Sheets N8N"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "bediktest@gmail.com",
        "subject": "we have a logged in user",
        "message": "=we have a logged in user <br>  {{ $json.user.email }} is already logged in \n",
        "options": {
          "appendAttribution": false,
          "ccList": "={{ $json.user.email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1440,
        -560
      ],
      "id": "790bf333-3e11-4d14-9f97-d87dcff39b25",
      "name": "Notify that  user is already logged in",
      "webhookId": "453ab2e6-d587-451c-9bc3-efdfa19cd01f",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ozKOoFfLTOy5P7d",
          "name": "Google-N8N"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/webhook/eventmanagemtnadmin",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -976,
        -928
      ],
      "id": "afd39753-857d-4d5a-97f8-4f3252e969a0",
      "name": "Redirect to Dashboard",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<h2>Logged In - Dashboard Ready</h2>\n<p>Redirecting to dashboard...</p>\n<script>\n  setTimeout(() => {\n    window.location.href = '{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/webhook/eventmanagemtnadmin';  // Your dashboard content URL\n  }, 1000);\n</script>\n<a href=\"{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/webhook/eventmanagemtnadmin\">Click to continue</a>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -736,
        -912
      ],
      "id": "c99f09f6-123b-41c2-af4a-75c610530c85",
      "name": "Welcome messageand Redirect to Event Boradcasting Amdin"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM secrettable2 WHERE ipaddress = '{{ $json.MyIP2 }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -2080,
        -768
      ],
      "id": "7279e63f-a55e-405f-b441-33948a13de41",
      "name": "mysqlretrievel",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "2lKug6PdOc5btt3K",
          "name": "Central N8N Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c62c53d-68e4-465d-9b9d-838e8cc52cb4",
              "leftValue": "={{ $('mysqlretrievel').all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1792,
        -992
      ],
      "id": "840933c4-2dc0-4ab6-86cb-386ff44fcfb3",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Redirecting...</title>\n  <meta http-equiv=\"refresh\" content=\"3; url={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/f9a064a6-60e2-4261-bd48-5151c18dccbb?N8N_FRONTEND={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}\">\n</head>\n<body style=\"font-family: Arial, sans-serif; text-align: center; padding: 50px; background: #f0f8ff;\">\n  <h2>We wil take you to the Event broadcasting login page now</h2>\n  <p>Now we wil go to the login form in a moment...</p>\n  <p>The link is:\n  <a href = '{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/f9a064a6-60e2-4261-bd48-5151c18dccbb?N8N_FRONTEND={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}' target ='_blank'>\n  &raquo; Laravel Login to Broadcasting Event System </a> </p>\n  <p id=\"status\" style=\"color: #666;\">If it doesn't open, you'll be redirected shortly.</p>\n \n  <script>\n    (function() {\n      const formUrl = '{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/f9a064a6-60e2-4261-bd48-5151c18dccbb?N8N_FRONTEND={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}';\n     \n      // Try to open in new window immediately (most browsers allow in response context)\n      const newWindow = window.open(formUrl, '_blank', 'width=600,height=700,scrollbars=yes,resizable=yes');\n     \n      if (newWindow) {\n        // Success: Update status and close this tab after delay\n        document.getElementById('status').textContent = 'Form opened in new window! Closing this page...';\n        setTimeout(() => { window.close(); }, 2000);\n      } else {\n        // Blocked: Rely on meta redirect (current tab jumps to form)\n        document.getElementById('status').textContent = 'Popup blocked—redirecting to form now.';\n      }\n    })();\n  </script>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1888,
        -272
      ],
      "id": "ec3209f0-bfe7-4d6b-bdbf-7df8b29cae8a",
      "name": "redirect to login1"
    }
  ],
  "pinData": {
    "LoginEntry": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX18w7d1qUT%2B1%2BFysHKLGdC%2B33Y6trHH7Ogg%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2Bb9xi1zVUBjJQ9x8k577ma9rwY84%2FqrQs%3D; remember_web_59ba36addc2b2f9401580f014c7f58ea4e30989d=eyJpdiI6IkQvZWFFTkdvMzJqQmlydUVvRk5Yb2c9PSIsInZhbHVlIjoiUXIrNWhlWVZiNVZZWDdtcDl2RDBEbDVaM2RwV1loM1BvZnN4VlJENUd1REZic280K1NQWWhtSnY4TmJ6ZGdORXRLK1ZRZjBiR1NVRVpLOVhXVDZLcG1CTkNJT2NHQ0hndlFuc243d0J3MTNpa2RQZFF4UjVGbWV2QVNXN0lCZDdJUFV3eFZZc3hKZFhRd0I2RWliWk56a0I4cUtMbW5Nd0xjRnhubWlYaXBienZpV0VveUVFTkxKSXNCeGM0THhRWlM0ME9GN3NpUFA2a1pLV1liRmRaTmpGSmtja3lwT3B1ZkVaV3NzWGg5ND0iLCJtYWMiOiJkOWE1YTlkM2IyMTJkMDg4NjRjZTI5NTk3MTM4NjA0YmU2MmQzYTYyYjljNWYwZmZjZTZmNjc5MjI3YmVjYmM2IiwidGFnIjoiIn0%3D; m=; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BmasRdM8JdzWptbKpL3MA8noFD5emcECcmurKYs0kahpqtpafw87jY1tnqewQnCXm8izup3CbZpA%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2B7hFiGREfhK%2BP067vpoAtvCTSJjT3Asq53jb2e3VFE8bgVcrYFtqImBNOXlj%2FaYs2CRi2Kxw76B6DGqofJWnylYq3ERw15kdhXNbvwvfmb%2Bpe%2BLnq%2BZzra6EcwJHHdlz0oHZxRDanTTnaSjB%2BhddSxccmGKSyfN8o%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19dTFpyWOVh2UPSTC1g%2F2raRe7JrYQrHV3NV0BC6uRMtuQlB%2BMkP%2BMcSKA3b1cw9rfRjhpxwOPCjZvCb0JCFHmBc6VQg0TEmvGyWlz9D%2BdRRx3nj%2B0DRLt9FuZ%2F%2FKEgmliuKinwOjNOyomDPgsQOjwXvSVotft9sQM%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%224884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4%23e2edb1f1-6aca-4026-b5ee-06214b359ac6%22%2C%22%24sesid%22%3A%5B1766689698922%2C%22019b56e0-7db4-7448-90ff-8186e493dab3%22%2C1766689111472%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22http%3A%2F%2Flocalhost%3A5678%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19EHKJbPtIYf96qHlZX2C4yCq1ArD2cdUFZlRjOu2K6g4llRgkhvlrS2TKA3jbCVhSfHvjsZrDa%2FYxWDVQpH%2FePgpzrgNJvxY1ZLBGKB8lbWyAbi%2BfazCkkyGeM5GCu0liS9ndPjhB%2FTw%3D%3D",
            "if-none-match": "W/\"6a2-7sYw8vripcOQicLatkaxmByjbs0\""
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "http://localhost:5678/webhook/broadcastingentry",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "LoginEntry": {
      "main": [
        [
          {
            "node": "Datatabel Central Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check authenthcation": {
      "main": [
        [
          {
            "node": "If Logged in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datatabel Central Settings": {
      "main": [
        [
          {
            "node": "Retrieve central settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve central settings": {
      "main": [
        [
          {
            "node": "mysqlretrievel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Token By IP Address": {
      "main": [
        []
      ]
    },
    "If Logged in": {
      "main": [
        [
          {
            "node": "Notify that  user is already logged in",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redirect to login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Already Logged in record to google sheet": {
      "main": [
        [
          {
            "node": "Redirect to Dashboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redirect to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify that  user is already logged in": {
      "main": [
        [
          {
            "node": "Insert Already Logged in record to google sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirect to Dashboard": {
      "main": [
        [
          {
            "node": "Welcome messageand Redirect to Event Boradcasting Amdin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mysqlretrievel": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "check authenthcation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redirect to login1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d6c9e36f-8f6b-4082-8c42-ed01ce34fd0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "ZqwZcr6YazI1BYdg",
  "tags": []
}