November19/MCP-December-6/Add category.json
{
  "name": "Add category",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "addcategory",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -928,
        -112
      ],
      "id": "f4b088df-797e-4e9a-9660-0903597379d0",
      "name": "Webhook",
      "webhookId": "22ac2bd8-2ae8-4a39-aefc-fc9b2c40277f",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Collect all input items (each record)\nconst items = $input.all();\nconst settings = {};\n\n// Loop through them and map key → value\nfor (const item of items) {\n  const row = item.json;\n  settings[row.key] = row.value;\n}\n\n// Optionally store globally for later nodes\n$vars.settings = settings;\n\n// Return as output\nreturn [{ json: settings }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -80
      ],
      "id": "135a1fb2-0252-4849-b5be-2b7ea18651a0",
      "name": "Retrieve central settings"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nwlYnH8lbFWbGriq",
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "/projects/cq8LPFRw7xIWBu7h/datatables/nwlYnH8lbFWbGriq"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -704,
        -144
      ],
      "id": "81182ce7-9b92-4574-b095-6517578c34e5",
      "name": "Datatable Central Settings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.N8N_FRONTEND }}/webhook/auth-guard",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        -208
      ],
      "id": "69658019-c2bb-4a7d-96e1-9fdf21eccd9d",
      "name": "Call the Middleware"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dbf4d909-6c3f-447c-9bf9-e1f112bef9ad",
              "leftValue": "={{ $json.status }}",
              "rightValue": "logged_in",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        -160
      ],
      "id": "9cbda3b4-a386-4dd0-9923-b56cb540cbb4",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Retrieve central settings').item.json.LARAVEL_BACKEND_API }}/admin/cats/store",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" +$json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        -304
      ],
      "id": "4c196a78-cec1-4cfd-8a5b-4ec9838439ed",
      "name": "HTTP Request",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSRKIfx8ndL0Qtx",
          "mode": "list",
          "cachedResultName": "N8N Chat Scraper",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx"
        },
        "table": {
          "__rl": true,
          "value": "tblmcZeAoJSPeCoNx",
          "mode": "list",
          "cachedResultName": "secrettable",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx/tblmcZeAoJSPeCoNx"
        },
        "filterByFormula": "=ipaddress = \"{{ $('Retrieve central settings').item.json.MyIP }}\"\n",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        -320
      ],
      "id": "9a68f44b-6ac0-4a4e-ae57-ecd0afd5d925",
      "name": "Retrieve Token By IP Address",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "b4bdqV7yCwNwcBgT",
          "name": "Airtable Personal Access Token account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appSRKIfx8ndL0Qtx",
          "mode": "list",
          "cachedResultName": "N8N Chat Scraper",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx"
        },
        "table": {
          "__rl": true,
          "value": "tblmcZeAoJSPeCoNx",
          "mode": "list",
          "cachedResultName": "secrettable",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx/tblmcZeAoJSPeCoNx"
        },
        "id": "={{ $('Retrieve Token By IP Address').item.json.id }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        16,
        144
      ],
      "id": "16dcafed-19fc-4564-964f-a34a5c75ba21",
      "name": "Delete a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "b4bdqV7yCwNwcBgT",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/webhook/dashboard2",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        -272
      ],
      "id": "c4862ade-9bba-43c7-9f39-fa0805ef7d89",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "placeholder": "Category Name",
              "requiredField": true
            },
            {
              "fieldLabel": "department",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Marketing"
                  },
                  {
                    "option": "Sales"
                  },
                  {
                    "option": "PR"
                  },
                  {
                    "option": "HR"
                  }
                ]
              }
            },
            {
              "fieldLabel": "img",
              "fieldType": "file",
              "acceptFileTypes": "image/jpeg,image/png,image/gif"
            },
            {
              "fieldLabel": "filer",
              "fieldType": "file",
              "acceptFileTypes": "image/jpeg,image/png,image/gif,text/plain,application/pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        352,
        -288
      ],
      "id": "595e68c2-74a0-4160-aeaa-dd5773e774d5",
      "name": "Add Category Form",
      "webhookId": "7456c7ce-f14b-452b-b721-edefe081f673",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Datatable Central Settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datatable Central Settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datatable Central Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve central settings": {
      "main": [
        [
          {
            "node": "Call the Middleware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datatable Central Settings": {
      "main": [
        [
          {
            "node": "Retrieve central settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call the Middleware": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Retrieve Token By IP Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Token By IP Address": {
      "main": [
        [
          {
            "node": "Add Category Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a record": {
      "main": [
        []
      ]
    },
    "Add Category Form": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c74783cd-fc81-4ebd-80c9-ab1e30538a2e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "V80uDuK83Eu5REM0",
  "tags": []
}