November 26/N8N-Multi-Tier-MYSQL-December-26/Add category through chat.json
{
  "name": "Add category through chat",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\n- Would you like to add a category?\n- Would you like to view our categories?\n- Would you like to find out about us?\n",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -2400,
        -352
      ],
      "id": "13b2f4d5-2b2e-4cd6-843f-af5a9b03791d",
      "name": "When chat message received",
      "webhookId": "bc7bb23f-edb7-4a9e-81dc-99cf5d8970d7",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "message": "Helo there,\n- Would you like to add a category?\n- Would you like to view our categories?\n- Would you like to find out about us?\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -2464,
        -896
      ],
      "id": "702af372-605b-43ea-a98d-4c78495a5544",
      "name": "Respond to Chat",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a reliable chat classifier bot. Your sole task is to analyze the user's latest input and classify their intent into a structured JSON format with a single key: \"Action\".\n\n**Input Analysis and Classification Rules:**\n\n1.  **Greeting Intent:**\n    * **User Input:** If the user's input is a common greeting (e.g., \"hello\", \"hi\", \"good day\", \"good morning\", \"good evening\", or similar), **you must perform the action yourself:** Greet the user and display the main menu options exactly as listed below.\n        * - Would you like to add a category?\n        * - Would you like to view our categories?\n        * - Would you like to find out about us?\n    * **Output JSON:** Do NOT output a JSON. Output ONLY the greeting and the menu text.\n\n2.  **Menu Option Intent (Case-Insensitive & Flexible Matching):**\n    * For all other inputs (i.e., not a simple greeting), you must determine the user's choice and output a JSON. Be flexible and forgiving with spelling mistakes and similar phrases.\n    * **Option 1 (Action: Add):** User inputs \"1\", \"option 1\", \"add\", \"add a category\", \"insert category\", \"new categories\", or similar phrase.\n        * **Output JSON:** `{\"Action\": \"Add\"}`\n    * **Option 2 (Action: View):** User inputs \"2\", \"option 2\", \"view categories\", \"list categories\", or similar phrase.\n        * **Output JSON:** `{\"Action\": \"View\"}`\n    * **Option 3 (Action: About):** User inputs \"3\", \"option 3\", \"Find out about us\", \"find out more\", or similar phrase.\n        * **Output JSON:** `{\"Action\": \"About\"}`\n\n3.  **Fallback Intent:**\n    * **User Input:** If the input does not match any of the above intents (i.e., not a greeting and not a recognized menu choice), the user must be routed back to the main menu.\n    * **Output JSON:** `{\"Action\": \"Fallback\"}`\n\n**Important:** The workflow will proceed to the next node immediately after your output. Ensure that if the intent is not a greeting, you output only the JSON and nothing else, as the next node will use this JSON for routing."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2176,
        -480
      ],
      "id": "4b3bf3f0-002e-4203-b1de-6ed2d101ae67",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2112,
        -240
      ],
      "id": "948d8b88-dd9d-4ae3-b459-84fc337a34df",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KJf8tt07cth4UefJ",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "mistralai/mistral-7b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2000,
        -240
      ],
      "id": "2232383e-2167-4b9a-ab7d-65da0839d23c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "CxYvMkMbr40cBdGm",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1872,
        -272
      ],
      "id": "41f33031-58b9-4dde-8417-b844b6afee4f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "faa5044c-d917-49b5-add4-039cb9839cd5",
              "leftValue": "={{ $json.output }}",
              "rightValue": "\"Action\"",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2016,
        -896
      ],
      "id": "14f1fee5-078b-4e1e-9623-634db71ffb3f",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Function to extract the JSON string from the AI Agent output\nconst extractJsonString = (rawOutput) => {\n    // The output often starts with \"```json\\n\" and ends with \"\\n```\"\n    // We remove these wrappers to get the clean JSON string.\n    let jsonString = rawOutput.trim();\n    if (jsonString.startsWith('```json')) {\n        jsonString = jsonString.substring(7); // Remove '```json'\n    }\n    if (jsonString.endsWith('```')) {\n        jsonString = jsonString.substring(0, jsonString.length - 3); // Remove '```'\n    }\n    return jsonString.trim();\n};\n\n// Iterate over each item passed to the Code node (should be only one item)\nfor (const item of items) {\n    // 1. Get the string output from the previous node (AI Agent)\n    const rawOutput = item.json.output;\n    \n    // 2. Clean the string to isolate the pure JSON content\n    const cleanJsonString = extractJsonString(rawOutput);\n    \n    // 3. Parse the clean string into a JavaScript object\n    let parsedJson = {};\n    try {\n        parsedJson = JSON.parse(cleanJsonString);\n    } catch (e) {\n        // If parsing fails (shouldn't happen if the AI Agent is reliable)\n        console.error(\"Failed to parse JSON string:\", cleanJsonString, e);\n        // Default to Fallback if parsing fails\n        parsedJson.Action = 'Fallback'; \n    }\n    \n    // 4. Replace the existing output object with the newly parsed object\n    // This allows the next node (Switch) to read $json.Action easily.\n    item.json = parsedJson;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        -624
      ],
      "id": "1a8bd04a-1018-475a-8c69-0991510025a8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "Add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f9fa3596-e7cf-456a-9ab5-efbd629c7a2f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Add Categories"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1c82803-a380-4038-8a4c-126362fcce2f",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "View",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "List Categories"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d55c091-5d71-4739-b488-feeed8995c56",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "About",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "About"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9dbd5934-5c7c-4a1e-8797-ba0a524e8e7a",
                    "leftValue": "={{ $json.Action }}",
                    "rightValue": "Fallback",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fallback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1632,
        -880
      ],
      "id": "c3d97f86-a724-4f56-8530-5ac326141d5a",
      "name": "Switch"
    },
    {
      "parameters": {
        "message": "What is the name of the new category you would like to add?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1536,
        -1152
      ],
      "id": "37266033-ecb2-4cd0-9a92-29cbb3721b12",
      "name": "Respond to Chat1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "message": "What is the name of teh department, you may leave blank\nDepartments\n\n-Sales\n-Marketing\n-HR\n-PR\n-None",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1024,
        -1120
      ],
      "id": "0b91d704-37f4-466d-91ae-31dc2c59b7eb",
      "name": "Respond to Chat2"
    },
    {
      "parameters": {
        "jsCode": "// Define the list of valid departments (case-insensitive)\nconst VALID_DEPARTMENTS = [\n    'sales', \n    'marketing', \n    'pr', \n    'hr'\n];\n\nfor (const item of items) {\n    const rawDepartmentInput = item.json.chatInput;\n    const normalizedInput = rawDepartmentInput ? rawDepartmentInput.toLowerCase().trim() : '';\n    \n    // Initialize to empty string. This is the default for 'None', invalid input, or empty input.\n    let finalDepartmentValue = ''; \n    \n    // Check if the input is one of the four valid departments\n    if (VALID_DEPARTMENTS.includes(normalizedInput)) {\n        // Only capitalize if it's a valid department\n        finalDepartmentValue = normalizedInput.charAt(0).toUpperCase() + normalizedInput.slice(1);\n    } \n    // The previous 'else if (normalizedInput === \"none\")' is no longer needed \n    // because it correctly falls through and remains finalDepartmentValue = '';\n    \n    // Attach the validated department ('' for None/Invalid, 'Sales' for valid)\n    item.json.department = finalDepartmentValue;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        -1104
      ],
      "id": "fdb2cc4e-9bed-4916-b492-342f7e979248",
      "name": "Department Validation"
    },
    {
      "parameters": {
        "jsCode": "// Define flexible matching rules (lowercase)\nconst VIEW_MATCHING_RULES = {\n    // Exact Matches\n    'sales': 'Sales',\n    'marketing': 'Marketing',\n    'pr': 'PR',\n    'hr': 'HR',\n    'all': 'All',\n    'blank': '' // Empty string represents 'Blank' or 'None'\n};\n\n// Define flexible synonym matching (lowercase)\nconst SYNONYMS = {\n    'sale': 'Sales',\n    'salees': 'Sales',\n    'mark': 'Marketing',\n    'markeet': 'Marketing',\n    'public relation': 'PR',\n    'public relations': 'PR',\n    'human resource': 'HR',\n    'human resources': 'HR',\n    'all of them': 'All',\n    'no department': '',\n    'no departments': '',\n    'none': ''\n};\n\nfor (const item of items) {\n    const rawInput = item.json.chatInput;\n    const normalizedInput = rawInput ? rawInput.toLowerCase().trim() : '';\n    let finalDepartmentValue = 'All'; // Default to 'All' as per your requirement\n\n    // 1. Check for exact matches (including 'Sales', 'All', 'Blank')\n    if (VIEW_MATCHING_RULES[normalizedInput]) {\n        finalDepartmentValue = VIEW_MATCHING_RULES[normalizedInput];\n    } \n    // 2. Check for synonyms/flexible matches\n    else if (SYNONYMS[normalizedInput]) {\n        finalDepartmentValue = SYNONYMS[normalizedInput];\n    }\n\n    // Any other input (like typos) remains 'All' due to the initialization.\n    item.json.viewDepartment = finalDepartmentValue;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        128
      ],
      "id": "c006628e-8717-4c84-a5bd-f65f892ce807",
      "name": "Retrieve Department"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84d67b14-2d58-47b6-b741-56b2eee6676e",
              "name": "catname",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        -1152
      ],
      "id": "2ec8d6fe-b06a-45e8-a285-ac4f74f87fbc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JZVjEJheLGlDnNz4",
          "mode": "list",
          "cachedResultUrl": "/workflow/JZVjEJheLGlDnNz4",
          "cachedResultName": "Centralized Database Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -592,
        -1120
      ],
      "id": "2d99f2f7-7110-41c0-b493-e5ce8902e5b8",
      "name": "Call 'Centralized Database Settings'1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.N8N_FRONTEND }}/webhook/2e3e3515-d210-4174-a261-3cebaa549c00",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Department",
              "value": "={{ $('Department Validation').item.json.department }}"
            },
            {
              "name": "catname",
              "value": "={{ $('Edit Fields').item.json.catname }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        -1120
      ],
      "id": "8efb4af3-6881-421d-ac93-2662c7278a3c",
      "name": "Call Add Category Chat"
    },
    {
      "parameters": {
        "message": "Which Category do you want to view\n-Marketing\n-Sales\n-HR\n-PR\n-All\n-None",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1360,
        -880
      ],
      "id": "6b3f05c1-35e8-4f2f-b9ba-b2a7d8a28bc1",
      "name": "Respond to Chat3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0efe3022-d4c0-4e53-b515-7d55e8c59d71",
              "name": "department",
              "value": "={{ $json.viewDepartment }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        -896
      ],
      "id": "cf2f9144-8d03-43e0-a3d4-e809d4fd2a08",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// Define flexible matching rules (lowercase)\nconst VIEW_MATCHING_RULES = {\n    // Valid Department Mappings (map to Title Case)\n    'sales': 'Sales',\n    'marketing': 'Marketing',\n    'pr': 'PR',\n    'hr': 'HR',\n    'all': 'All',\n    // None/Blank Mappings (map to empty string: '')\n    'none': '', \n    'blank': '' \n};\n\n// Define flexible synonym matching (lowercase)\nconst SYNONYMS = {\n    // Sales synonyms\n    'sale': 'Sales', 'salees': 'Sales', 'sold items': 'Sales',\n    // Marketing synonyms\n    'mark': 'Marketing', 'markeet': 'Marketing', 'promotion': 'Marketing',\n    // PR synonyms\n    'public relation': 'PR', 'public relations': 'PR',\n    // HR synonyms\n    'human resource': 'HR', 'human resources': 'HR',\n    // 'All' synonyms\n    'all of them': 'All', 'all categories': 'All',\n    // 'None'/'Blank' synonyms (map to empty string: '')\n    'no department': '', 'no departments': '', 'empty': ''\n};\n\nfor (const item of items) {\n    const rawInput = item.json.chatInput;\n    const normalizedInput = rawInput ? rawInput.toLowerCase().trim() : '';\n    \n    // Initialize to 'All'. This is the desired default for any non-matched input (typos).\n    let finalDepartmentValue = 'All'; \n\n    // 1. Check for specific matches in the fixed list\n    if (VIEW_MATCHING_RULES[normalizedInput] !== undefined) {\n        finalDepartmentValue = VIEW_MATCHING_RULES[normalizedInput];\n    } \n    // 2. Check for matches in the synonyms list\n    else if (SYNONYMS[normalizedInput] !== undefined) {\n        finalDepartmentValue = SYNONYMS[normalizedInput];\n    }\n    \n    // 3. If no match was found, finalDepartmentValue remains 'All' (from initialization).\n\n    // Output the clean department value\n    item.json.viewDepartment = finalDepartmentValue;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        -864
      ],
      "id": "fb89b398-6bc3-4972-8335-ee3352c83b75",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JZVjEJheLGlDnNz4",
          "mode": "list",
          "cachedResultUrl": "/workflow/JZVjEJheLGlDnNz4",
          "cachedResultName": "Centralized Database Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -608,
        -912
      ],
      "id": "8435baea-1994-4129-b0fa-f0c37c871089",
      "name": "Call 'Centralized Database Settings'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.N8N_FRONTEND }}/webhook/present-categories",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "department",
              "value": "={{ $('Edit Fields1').item.json.department }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        -912
      ],
      "id": "7aed26df-d6fb-4583-9aea-84a246b10886",
      "name": "Call Retrieve Categoreis Chat"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Respond to Chat1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat2": {
      "main": [
        [
          {
            "node": "Department Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Department Validation": {
      "main": [
        [
          {
            "node": "Call 'Centralized Database Settings'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Chat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Centralized Database Settings'1": {
      "main": [
        [
          {
            "node": "Call Add Category Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat3": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Call 'Centralized Database Settings'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Centralized Database Settings'": {
      "main": [
        [
          {
            "node": "Call Retrieve Categoreis Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da4dd111-d984-4d54-b049-bea69d4c6250",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "OeLRwsl6vpu3cMxe",
  "tags": []
}