November19/Add Category text Only Flow.json
{
  "name": "Add Category text Only Flow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Add Category text Only Flow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af8e7f75-83e8-4a97-b5eb-bfc021869bfa",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "79fa6808-7454-4c4e-925a-4dc66cc84e48",
              "name": "department",
              "value": "={{ $json.department }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        368
      ],
      "id": "6bbe1c9d-a9a7-4454-99f7-1b69f3284d86",
      "name": "OnlyText",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "former2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        400
      ],
      "id": "17c22268-bd42-4c36-8c1a-62f43e256a8d",
      "name": "finalmerge Text and Token1",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.LARAVEL_BACKEND_IP }}/admin/cats/store",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('OnlyText').last().json.name }}"
            },
            {
              "name": "department",
              "value": "={{ $('OnlyText').last().json.department }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        304
      ],
      "id": "6646658e-591d-4ee1-8ccb-8711a5910efa",
      "name": "HTTP Request Text",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JZVjEJheLGlDnNz4",
          "mode": "list",
          "cachedResultUrl": "/workflow/JZVjEJheLGlDnNz4",
          "cachedResultName": "Centralized Database Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        656,
        160
      ],
      "id": "3591d31a-8a76-4d86-866a-2a2126443ca1",
      "name": "Call 'Centralized Database Settings'3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Call \\'Centralized Database Settings\\'3').item.json.N8N_FRONTEND }}/webhook/insert-read-first-cat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.data.cat.id }}"
            },
            {
              "name": "name",
              "value": "={{ $json.data.cat.name }}"
            },
            {
              "name": "department",
              "value": "={{ $json.data.cat.department }}"
            },
            {
              "name": "created_at",
              "value": "={{ $json.data.cat.created_at.replace('.000000Z', '') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        256
      ],
      "id": "b332b8d4-3e73-4d0d-86de-b16f37a77cd3",
      "name": "Only Text Add to Google Sheets and Message"
    }
  ],
  "pinData": {
    "Add Category text Only Flow": [
      {
        "json": {
          "imgNew": false,
          "fileNew": false,
          "imgOld": false,
          "fileOld": false,
          "name": "Only text to blank Departmen November 19999",
          "department": ""
        },
        "binary": {}
      }
    ]
  },
  "connections": {
    "Add Category text Only Flow": {
      "main": [
        [
          {
            "node": "OnlyText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OnlyText": {
      "main": [
        [
          {
            "node": "finalmerge Text and Token1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Call 'Centralized Database Settings'3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "finalmerge Text and Token1": {
      "main": [
        [
          {
            "node": "HTTP Request Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Centralized Database Settings'3": {
      "main": [
        [
          {
            "node": "finalmerge Text and Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Text": {
      "main": [
        [
          {
            "node": "Only Text Add to Google Sheets and Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0dc0887c-c065-476d-8be1-33eb4532ac72",
  "meta": {
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "G2ljbgsQAtBecvXG",
  "tags": []
}