November19/MCP-December-10/Hardware Chat Subflow.json
{
  "name": "Hardware Chat Subflow",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "GET"
        ],
        "path": "About-Hardware-Chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1088,
        -304
      ],
      "id": "159ad680-71bf-4e2d-b74c-8cdd166f889e",
      "name": "Webhook",
      "webhookId": "33cf6b3a-31bc-45e0-ba1a-582fec3bb88f",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const downloadLinks = [];\n\nfor (const item of items) {\n    let fileId = null;\n    let fileName = null;\n\n    if (item.json.originalFileID) fileId = item.json.originalFileID;\n    else if (item.json.id) fileId = item.json.id;\n\n    if (item.json.originalFileName) fileName = item.json.originalFileName;\n    else if (item.json.name) fileName = item.json.name;\n\n    if (item.binary && item.binary.data && item.binary.data.fileName) {\n        fileName = item.binary.data.fileName;\n    }\n\n    if (fileId && fileName) {\n        const url = `https://drive.google.com/uc?export=download&id=${fileId}`;\n        downloadLinks.push(`- **${fileName}** → ${url}`);\n    }\n}\n\nreturn [{\n    json: {\n        pdf_download_list: downloadLinks.join(\"\\n\")\n    }\n}];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        512
      ],
      "id": "b80a0785-04df-40d1-8a24-54cb59789875",
      "name": "PDF Files Code"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/rtf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -480,
        112
      ],
      "id": "c65792a7-4824-4458-ab08-a367e3964c9b",
      "name": "Download file",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tKFhkQOgzK7W6JjC",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8a6e6580-1f24-469a-bcdc-5f6ed12604cc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word RTF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd93f616-3d2a-4d91-9608-234a9fba9579",
                    "leftValue": "={{ $('Hardware Search files and folders').item.json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c5cff196-0d5f-45e8-b819-5750ef2f3ce3",
                    "leftValue": "={{ $('Hardware Search files and folders').item.json.mimeType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Google Sheets"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -80,
        16
      ],
      "id": "202e0e17-e758-46f9-856b-43003c3a1490",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        192
      ],
      "id": "10abfba4-d384-433e-960f-5136e009e309",
      "name": "Extract from PDF",
      "retryOnFail": true,
      "maxTries": 5,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        240,
        -176
      ],
      "id": "4c455bbd-79d0-49b6-bdd3-694d414d8972",
      "name": "Extract from RTF",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f90989a-49c1-4c3d-8297-282abd45e1e7",
              "name": "originalFileID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "86f0e8f4-b52d-4946-9874-1d0bd69c9834",
              "name": "originalFileName",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        192
      ],
      "id": "29012b10-4461-4ce1-8228-275c9b7a02d2",
      "name": "Get File ID",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "979a1d8f-2bbf-4b29-8c84-c74c1f380e21",
              "name": "originalFileID",
              "value": "={{ $json.originalFileID }}",
              "type": "string"
            },
            {
              "id": "3ca742f0-d346-45eb-b86e-79fd4ae3319c",
              "name": "originalFileName",
              "value": "={{ $json.originalFileName }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        0
      ],
      "id": "816a407f-443b-4e11-9c69-345c42489714",
      "name": "Tansform File Info"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1e5ad15-dd15-45e4-944c-206a67174220",
              "name": "originalFileName",
              "value": "={{ $json.originalFileName }}",
              "type": "string"
            },
            {
              "id": "8f00fa4d-b7ae-4b03-9356-1eb2f99e51d9",
              "name": "originalFileID",
              "value": "={{ $json.originalFileID }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        16
      ],
      "id": "e1238ea3-a23a-466a-a0ba-c375898f389f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const combinedContext = [];\n\nfor (const item of items) {\n\n    // RTF extraction → item.json.data\n    if (item.json.data) {\n        const rtf = item.json.data;\n\n        // lightweight RTF → text\n        let plain = rtf\n            .replace(/\\\\par[d]?/g, \"\\n\")\n            .replace(/\\\\[a-zA-Z]+\\d?/g, \"\")\n            .replace(/[{}]/g, \"\")\n            .trim();\n\n        const truncated = plain.substring(0, 500);\n\n        combinedContext.push(\n            `RTF DOCUMENT CONTENT (${item.json.name || \"Unknown File\"}) (Truncated):\\n${truncated}...`\n        );\n    }\n}\n\nreturn [{\n    json: {\n        rtf_ai_context: combinedContext.join(\"\\n\\n---\\n\\n\")\n    }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -160
      ],
      "id": "85494da7-d80f-48e4-b2e2-e4562f8873ff",
      "name": "RTF Text Code"
    },
    {
      "parameters": {
        "jsCode": "const downloadLinks = [];\n\nfor (const item of items) {\n    let fileId = null;\n    let fileName = null;\n\n    if (item.json.originalFileID) fileId = item.json.originalFileID;\n    else if (item.json.id) fileId = item.json.id;\n\n    if (item.json.originalFileName) fileName = item.json.originalFileName;\n    else if (item.json.name) fileName = item.json.name;\n\n    if (item.binary && item.binary.data && item.binary.data.fileName) {\n        fileName = item.binary.data.fileName;\n    }\n\n    if (fileId && fileName) {\n        const url = `https://drive.google.com/uc?export=download&id=${fileId}`;\n        downloadLinks.push(`- **${fileName}** → ${url}`);\n    }\n}\n\nreturn [{\n    json: {\n        rtf_download_list: downloadLinks.join(\"\\n\")\n    }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "19927441-9e8e-46d7-9be2-c0c23137238f",
      "name": "RTF Files Code"
    },
    {
      "parameters": {
        "jsCode": "const combinedContext = [];\n\nfor (const item of items) {\n\n    if (item.json.text) {\n        const truncated = item.json.text.substring(0, 500);\n\n        combinedContext.push(\n            `PDF DOCUMENT CONTENT (${item.json.name || \"Unknown File\"}) (Truncated):\\n${truncated}...`\n        );\n    }\n}\n\nreturn [{\n    json: {\n        pdf_ai_context: combinedContext.join(\"\\n\\n---\\n\\n\")\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        160
      ],
      "id": "e60fd5b3-4255-44a8-8456-b93c700dcfa5",
      "name": "PDF Text Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        -448
      ],
      "id": "8ede7eea-7d42-4300-889a-921ae3f8c334",
      "name": "RTF Merge",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        192
      ],
      "id": "a017d2f3-8177-47d3-b909-71e40bdb6329",
      "name": "PDF Merge",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -256,
        -576
      ],
      "id": "355e8334-e34a-4d88-a2be-71aa99afaa44",
      "name": "Final  Merge",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab012a2b-0603-4a58-8d54-2e3c5d27955f",
              "name": "final_message2",
              "value": "=\nProduct: {{ $json['Product Name'] }}\n\nCategory: {{ $json.Category }}\n\nDepartment: {{ $json.Department }}\n\nDetails:\n{{ $json.Description }}\n\n{{ $json.cleanpdf }}\n\n{{ $json['Clean-RTF'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -544
      ],
      "id": "d68ad68e-bf01-4b82-871a-122706458bb3",
      "name": "Final Response"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.rtf_ai_context || \"\";\n\n// Remove \"(Unknown File)\" blocks + binary garbage\nlet cleaned = raw\n    .replace(/RTF DOCUMENT CONTENT\\s*\\(Unknown File\\).*?\\n/i, \"RTF DOCUMENT CONTENT:\\n\")\n    .replace(/[0-9]{10,}/g, \"\") // long garbage numbers\n    .replace(/\\\\[a-zA-Z]+\\d*/g, \"\") // rtf control words\n    .replace(/\\* [0-9a-zA-Z]{10,}/g, \"\") // huge * 000000 blocks\n    .replace(/-{3,}/g, \"\") // separators\n    .replace(/\\n{3,}/g, \"\\n\\n\") // too many new lines\n    .trim();\n\n// Clean download list\nlet dl = ($json.rtf_download_list || \"\")\n    .replace(/\\n{3,}/g, \"\\n\")\n    .trim();\n\nreturn {\n  rtf_ai_context: cleaned,\n  rtf_download_list: dl\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -496
      ],
      "id": "64447463-bc37-487c-8f8b-7952b0274bcc",
      "name": "Clean RTF"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.pdf_ai_context || \"\";\n\n// Remove (Unknown File) header and normalize\nlet cleaned = raw\n    .replace(/PDF DOCUMENT CONTENT\\s*\\(Unknown File\\).*?\\n/i, \"PDF DOCUMENT CONTENT:\\n\")\n    .replace(/-{3,}/g, \"\") // remove separators\n    .replace(/\\n{3,}/g, \"\\n\\n\") // normalize spacing\n    .trim();\n\n// Clean download list\nlet dl = ($json.pdf_download_list || \"\")\n    .replace(/\\n{3,}/g, \"\\n\")\n    .trim();\n\nreturn {\n  pdf_ai_context: cleaned,\n  pdf_download_list: dl\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -48
      ],
      "id": "a714834f-a067-4919-864f-0dd15271f231",
      "name": "Clean PDF"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9f9734a-e764-465d-8bf6-9a68e7f54f06",
              "name": "Clean-RTF",
              "value": "={{ $json.rtf_ai_context }} \n{{ $json.rtf_download_list }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -512
      ],
      "id": "6e9ea140-811b-42d8-83a1-aec12a31cf2e",
      "name": "Clean-RTF"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4feb2ef4-1ddd-4ff8-b998-813645d4a03f",
              "name": "cleanpdf",
              "value": "={{ $json.pdf_ai_context }}\n{{ $json.pdf_download_list }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -272
      ],
      "id": "97098360-addc-4d3a-bc5e-e84fef0b11db",
      "name": "Clean-PDF"
    },
    {
      "parameters": {
        "jsCode": "const downloadLinks = [];\n\nfor (const item of items) {\n    let fileId = null;\n    let fileName = null;\n\n    if (item.json.originalFileID) fileId = item.json.originalFileID;\n    else if (item.json.id) fileId = item.json.id;\n\n    if (item.json.originalFileName) fileName = item.json.originalFileName;\n    else if (item.json.name) fileName = item.json.name;\n\n    if (item.binary && item.binary.data && item.binary.data.fileName) {\n        fileName = item.binary.data.fileName;\n    }\n\n    if (fileId && fileName) {\n        const url = `https://drive.google.com/uc?export=download&id=${fileId}`;\n        downloadLinks.push(`- **${fileName}** → ${url}`);\n    }\n}\n\nreturn [{\n    json: {\n        pdf_download_list: downloadLinks.join(\"\\n\")\n    }\n}];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        352
      ],
      "id": "db31e4de-dfbc-4af6-9395-c9189dc01c4a",
      "name": "PDF Files Code1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1w_BwWjSohwKFuyqHfFlXrkDeKtzgtEsLZNPiU--m8G8",
          "mode": "list",
          "cachedResultName": "Product Catalog (Hardware & Software) - N8N - Hardware folder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w_BwWjSohwKFuyqHfFlXrkDeKtzgtEsLZNPiU--m8G8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hardware",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w_BwWjSohwKFuyqHfFlXrkDeKtzgtEsLZNPiU--m8G8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Product Name",
              "lookupValue": "={{ $json.body.Search }}"
            },
            {
              "lookupColumn": "Category",
              "lookupValue": "={{ $json.body.Search }}"
            },
            {
              "lookupColumn": "Department",
              "lookupValue": "={{ $json.body.Search }}"
            },
            {
              "lookupColumn": "Description",
              "lookupValue": "={{ $json.body.Search }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -640,
        -176
      ],
      "id": "04d83bec-e311-4848-9078-30953cc6ea22",
      "name": "Hardware Get row(s) in sheet",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "emOxEV9cfdMjtjeF",
          "name": "Google Sheets N8N"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.body.Search }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "17I4DdimIe5Jac68TwlepUtepgJVUXxda",
            "mode": "list",
            "cachedResultName": "Hardware",
            "cachedResultUrl": "https://drive.google.com/drive/folders/17I4DdimIe5Jac68TwlepUtepgJVUXxda"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "mimeType",
            "name",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -800,
        240
      ],
      "id": "62af9349-4820-4ac8-8647-c8ad641be175",
      "name": "Hardware Search files and folders",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tKFhkQOgzK7W6JjC",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "google drive operation"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Hardware Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hardware Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Files Code": {
      "main": [
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Tansform File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from RTF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "PDF Text Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from RTF": {
      "main": [
        [
          {
            "node": "RTF Text Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File ID": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tansform File Info": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RTF Files Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RTF Text Code": {
      "main": [
        [
          {
            "node": "RTF Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RTF Files Code": {
      "main": [
        [
          {
            "node": "RTF Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PDF Text Code": {
      "main": [
        [
          {
            "node": "PDF Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RTF Merge": {
      "main": [
        [
          {
            "node": "Clean RTF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Merge": {
      "main": [
        [
          {
            "node": "Clean PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final  Merge": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean RTF": {
      "main": [
        [
          {
            "node": "Clean-RTF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean PDF": {
      "main": [
        [
          {
            "node": "Clean-PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean-RTF": {
      "main": [
        [
          {
            "node": "Final  Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Clean-PDF": {
      "main": [
        [
          {
            "node": "Final  Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "PDF Files Code1": {
      "main": [
        [
          {
            "node": "PDF Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Hardware Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Final  Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hardware Search files and folders": {
      "main": [
        [
          {
            "node": "Get File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c0951a8a-13a5-4c38-856a-bb4b56a898d0",
  "meta": {
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "HAFTGRhNG2O1hnq4",
  "tags": []
}