N8N-Multi-Tier-MYSQL-December-26/Triggered Standalone Auth Guard Event MN version.json
{
  "name": "Triggered Standalone Auth Guard Event MN version",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbf06720-82a4-4b0b-89c2-d11315d9851a",
              "leftValue": "={{ Number($json.isauthenticatedbysanctumfirstcheck) }}",
              "rightValue": "414",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        -416
      ],
      "id": "c7a68755-cba6-411c-80eb-ad05fcaa21b1",
      "name": "If Logged in"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSRKIfx8ndL0Qtx",
          "mode": "list",
          "cachedResultName": "N8N Chat Scraper",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx"
        },
        "table": {
          "__rl": true,
          "value": "tblAWrKygkDwyq1XB",
          "mode": "list",
          "cachedResultName": "secrettable2",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx/tblAWrKygkDwyq1XB"
        },
        "filterByFormula": "=ipaddress = \"{{ $json.MyIP2 }}\"\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -320,
        -512
      ],
      "id": "eddb1aa2-a766-4c50-b2b6-fd28a815ff2e",
      "name": "Retrieve Token By IP Address",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "b4bdqV7yCwNwcBgT",
          "name": "Airtable Personal Access Token account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Collect all input items (each record)\nconst items = $input.all();\nconst settings = {};\n\n// Loop through them and map key → value\nfor (const item of items) {\n  const row = item.json;\n  settings[row.key] = row.value;\n}\n\n// Optionally store globally for later nodes\n$vars.settings = settings;\n\n// Return as output\nreturn [{ json: settings }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -176
      ],
      "id": "553ccb89-a710-4f36-9d79-641f61631fc1",
      "name": "Retrieve central settings"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nwlYnH8lbFWbGriq",
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "/projects/cq8LPFRw7xIWBu7h/datatables/nwlYnH8lbFWbGriq"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -432,
        -160
      ],
      "id": "deab8b5b-aef1-47f2-908b-2b81a48372e9",
      "name": "Datatabel Central Settings"
    },
    {
      "parameters": {
        "url": "={{ $('Retrieve central settings').item.json.LARAVEL_BACKEND_API2 }}/check-auth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" +$json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        -432
      ],
      "id": "d8f337a6-87a1-4f32-aba1-ec884203507e",
      "name": "check authenthcation",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"logged_in\",\n  \"message\": \"Dashboard ready, welcome\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        -512
      ],
      "id": "3d9e7e56-ec93-4bd0-b85f-e8f9ed28562b",
      "name": "Loggedin"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        -224
      ],
      "id": "50b806be-37a3-48dd-ad9b-63f0be43e9e6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -272
      ],
      "id": "721e40a5-f753-454c-a1e2-b97427d10b01",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM secrettable2 WHERE ipaddress = '{{ $json.MyIP2 }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -64,
        -400
      ],
      "id": "8fad6261-479f-4054-a2a9-e50ec9df01ac",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "2lKug6PdOc5btt3K",
          "name": "Central N8N Database"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "If Logged in": {
      "main": [
        [
          {
            "node": "Loggedin",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Retrieve Token By IP Address": {
      "main": [
        []
      ]
    },
    "Retrieve central settings": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datatabel Central Settings": {
      "main": [
        [
          {
            "node": "Retrieve central settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check authenthcation": {
      "main": [
        [
          {
            "node": "If Logged in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Datatabel Central Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "check authenthcation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2b60dca8-10b7-438c-82ff-a872d82d1264",
  "meta": {
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "UkIF8mFcb2AApRP3",
  "tags": []
}