OLD-Backups/November 26/N8N-Multi-Tier-MYSQL-December-26/Start Laravel communication.json
{
  "name": "Start Laravel communication",
  "nodes": [
    {
      "parameters": {
        "path": "55e19f30-1f86-4eb3-8c37-afa4c06023fc",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2480,
        -512
      ],
      "id": "80b45f5a-abf8-4383-8c24-ceb0cf8226de",
      "name": "LoginEntry",
      "webhookId": "55e19f30-1f86-4eb3-8c37-afa4c06023fc"
    },
    {
      "parameters": {
        "url": "={{ $('Retrieve central settings').item.json.LARAVEL_BACKEND_API }}/check-auth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" +$json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1584,
        -656
      ],
      "id": "9310b91d-4e46-4253-b139-d6dd7f96ec45",
      "name": "check authenthcation",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Redirecting...</title>\n\n  <meta http-equiv=\"refresh\" content=\"3; url={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/73c72dd0-6e4a-414e-9ad8-cf9524371a11\">\n</head>\n<body style=\"font-family: Arial, sans-serif; text-align: center; padding: 50px; background: #f0f8ff;\">\n  <h2>You Need to authenthicate yourself</h2>\n  <p>Now we wil go to the login form in a moment...</p>\n<p>The link is: \n\n<a href = '{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/73c72dd0-6e4a-414e-9ad8-cf9524371a11' target ='_blank'> \n\n&raquo; Laravel Login </a> </p>\n  <p id=\"status\" style=\"color: #666;\">If it doesn't open, you'll be redirected shortly.</p>\n  \n  <script>\n    (function() {\n      const formUrl = '{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/73c72dd0-6e4a-414e-9ad8-cf9524371a11';\n      \n      // Try to open in new window immediately (most browsers allow in response context)\n      const newWindow = window.open(formUrl, '_blank', 'width=600,height=700,scrollbars=yes,resizable=yes');\n      \n      if (newWindow) {\n        // Success: Update status and close this tab after delay\n        document.getElementById('status').textContent = 'Form opened in new window! Closing this page...';\n        setTimeout(() => { window.close(); }, 2000);\n      } else {\n        // Blocked: Rely on meta redirect (current tab jumps to form)\n        document.getElementById('status').textContent = 'Popup blocked—redirecting to form now.';\n      }\n    })();\n  </script>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -976,
        -368
      ],
      "id": "c31e69f1-aa3f-4055-a9cf-0267c174a05f",
      "name": "redirect to login"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nwlYnH8lbFWbGriq",
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "/projects/cq8LPFRw7xIWBu7h/datatables/nwlYnH8lbFWbGriq"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2272,
        -512
      ],
      "id": "3caf91d7-b62b-4063-93d6-a6f20676fe7c",
      "name": "Datatabel Central Settings"
    },
    {
      "parameters": {
        "jsCode": "// Collect all input items (each record)\nconst items = $input.all();\nconst settings = {};\n\n// Loop through them and map key → value\nfor (const item of items) {\n  const row = item.json;\n  settings[row.key] = row.value;\n}\n\n// Optionally store globally for later nodes\n$vars.settings = settings;\n\n// Return as output\nreturn [{ json: settings }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        -512
      ],
      "id": "5c8d94e7-bec8-44ab-a6c6-0fcb611e6bf5",
      "name": "Retrieve central settings"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSRKIfx8ndL0Qtx",
          "mode": "list",
          "cachedResultName": "N8N Chat Scraper",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx"
        },
        "table": {
          "__rl": true,
          "value": "tblmcZeAoJSPeCoNx",
          "mode": "list",
          "cachedResultName": "secrettable",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx/tblmcZeAoJSPeCoNx"
        },
        "filterByFormula": "=ipaddress = \"{{ $json.MyIP }}\"\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -2144,
        -816
      ],
      "id": "6ef4df07-1ee0-44a1-b761-7ac3dd1a4427",
      "name": "Retrieve Token By IP Address",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "b4bdqV7yCwNwcBgT",
          "name": "Airtable Personal Access Token account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbf06720-82a4-4b0b-89c2-d11315d9851a",
              "leftValue": "={{ Number($json.isauthenticatedbysanctumfirstcheck) }}",
              "rightValue": "414",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1424,
        -416
      ],
      "id": "57b84ff7-3ece-47c9-ba90-8f2ac272880f",
      "name": "If Logged in"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DvsX77K2nid2T8go",
          "mode": "list",
          "cachedResultUrl": "/workflow/DvsX77K2nid2T8go",
          "cachedResultName": "Dasboard"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "reached",
              "displayName": "reached",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -768,
        -752
      ],
      "id": "d4d8b44b-34f4-46a5-b5f6-1d50be254304",
      "name": "Call 'Dasboard'"
    },
    {
      "parameters": {
        "sendTo": "bediktest@gmail.com",
        "subject": "we have a logge din user",
        "message": "=we have a logged in user <br>  {{ $json.user.email }} is already logged in \n<br> with token{{ $('Retrieve Token By IP Address').item.json.token }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1248,
        -768
      ],
      "id": "c488fb33-f07a-497b-aa14-831dc4198bc6",
      "name": "Notify that  user is already legged in",
      "webhookId": "13a35de2-17f4-4c86-b619-bf8507b0d59d",
      "credentials": {
        "gmailOAuth2": {
          "id": "NJGQwFAnPWgag7jV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BSESgSV1qTyyR8xFg8kT5RodvrsRbb3ZqyBYKtXj0j0",
          "mode": "list",
          "cachedResultName": "Login Activity",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BSESgSV1qTyyR8xFg8kT5RodvrsRbb3ZqyBYKtXj0j0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1111960932,
          "mode": "list",
          "cachedResultName": "ReturnedLogin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BSESgSV1qTyyR8xFg8kT5RodvrsRbb3ZqyBYKtXj0j0/edit#gid=1111960932"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('If Logged in').item.json.user.email }}",
            "Token": "={{ $('Retrieve Token By IP Address').item.json.token }}",
            "IP Address": "={{ $('Retrieve Token By IP Address').item.json.ipaddress }}",
            "DateAdded": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Token",
              "displayName": "Token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IP Address",
              "displayName": "IP Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DateAdded",
              "displayName": "DateAdded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        -752
      ],
      "id": "d3c1f489-e9f6-4ab8-824c-6dd26c0e34ed",
      "name": "Insert Already Logged in record to google sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FkWwJ4TXm5NTaS4v",
          "name": "Google Sheets account 3"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM secrettable WHERE ipaddress = '{{ $json.MyIP }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1872,
        -816
      ],
      "id": "32b4dcef-345c-4977-a330-ed285ba825e9",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "2lKug6PdOc5btt3K",
          "name": "Central N8N Database"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Redirecting...</title>\n  <meta http-equiv=\"refresh\" content=\"3; url={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/73c72dd0-6e4a-414e-9ad8-cf9524371a11?N8N_FRONTEND={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}\">\n</head>\n<body style=\"font-family: Arial, sans-serif; text-align: center; padding: 50px; background: #f0f8ff;\">\n  <h2>We wil take you to the login page now</h2>\n  <p>Now we wil go to the login form in a moment...</p>\n  <p>The link is:\n  <a href = '{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/73c72dd0-6e4a-414e-9ad8-cf9524371a11?N8N_FRONTEND={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}' target ='_blank'>\n  &raquo; Laravel Login </a> </p>\n  <p id=\"status\" style=\"color: #666;\">If it doesn't open, you'll be redirected shortly.</p>\n \n  <script>\n    (function() {\n      const formUrl = '{{ $('Retrieve central settings').item.json.N8N_FRONTEND }}/form/73c72dd0-6e4a-414e-9ad8-cf9524371a11?N8N_FRONTEND={{ $('Retrieve central settings').item.json.N8N_FRONTEND }}';\n     \n      // Try to open in new window immediately (most browsers allow in response context)\n      const newWindow = window.open(formUrl, '_blank', 'width=600,height=700,scrollbars=yes,resizable=yes');\n     \n      if (newWindow) {\n        // Success: Update status and close this tab after delay\n        document.getElementById('status').textContent = 'Form opened in new window! Closing this page...';\n        setTimeout(() => { window.close(); }, 2000);\n      } else {\n        // Blocked: Rely on meta redirect (current tab jumps to form)\n        document.getElementById('status').textContent = 'Popup blocked—redirecting to form now.';\n      }\n    })();\n  </script>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1648,
        -304
      ],
      "id": "37a53aad-261c-4759-839c-a734eca2a35f",
      "name": "redirect to login1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c62c53d-68e4-465d-9b9d-838e8cc52cb4",
              "leftValue": "={{ $('mysqlretrievel').all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1744,
        -528
      ],
      "id": "0abc6d3c-7be6-48a9-8081-1c5f36a60cf4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM secrettable WHERE ipaddress = '{{ $json.MyIP }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1920,
        -624
      ],
      "id": "3874ff20-e5c9-4699-b2c7-9cdcc913e8aa",
      "name": "mysqlretrievel",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "2lKug6PdOc5btt3K",
          "name": "Central N8N Database"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "LoginEntry": {
      "main": [
        [
          {
            "node": "Datatabel Central Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check authenthcation": {
      "main": [
        [
          {
            "node": "If Logged in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datatabel Central Settings": {
      "main": [
        [
          {
            "node": "Retrieve central settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve central settings": {
      "main": [
        [
          {
            "node": "mysqlretrievel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Token By IP Address": {
      "main": [
        []
      ]
    },
    "If Logged in": {
      "main": [
        [
          {
            "node": "Notify that  user is already legged in",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redirect to login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify that  user is already legged in": {
      "main": [
        [
          {
            "node": "Insert Already Logged in record to google sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Already Logged in record to google sheet": {
      "main": [
        [
          {
            "node": "Call 'Dasboard'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "check authenthcation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redirect to login1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mysqlretrievel": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c4bdb9a7-0ba5-4d72-aeb6-50ab2302d11e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "oRXkgqHNNg1n42Rs",
  "tags": []
}