OLD-Backups/November19/N8N-Multi-Tier-Apps/Laravel Login Version 3.json
{
  "name": "Laravel Login Version 3",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Login to MCP Version 1 ",
        "formDescription": "Login to Laravel MCP Version 1",
        "formFields": {
          "values": [
            {
              "fieldLabel": "email",
              "fieldType": "email",
              "placeholder": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "password",
              "fieldType": "password",
              "placeholder": "Password",
              "requiredField": true
            },
            {
              "fieldLabel": "remember",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Remember Me"
                  }
                ]
              }
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": false,
          "respondWithOptions": {
            "values": {
              "respondWith": "=redirect",
              "redirectUrl": "=http://localhost:5678/webhook/dashboard2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -2352,
        -336
      ],
      "id": "55a31a7d-1186-485f-8fe1-1da8669d7063",
      "name": "Laravel LoginForm UI",
      "webhookId": "73c72dd0-6e4a-414e-9ad8-cf9524371a11",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput",
      "notes": "Here is the node"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nwlYnH8lbFWbGriq",
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "/projects/cq8LPFRw7xIWBu7h/datatables/nwlYnH8lbFWbGriq"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1136,
        -272
      ],
      "id": "e6c93b68-cec2-4bbf-905c-0cee0ffc803d",
      "name": "Datatabel Central Settings"
    },
    {
      "parameters": {
        "jsCode": "// Collect all input items (each record)\nconst items = $input.all();\nconst settings = {};\n\n// Loop through them and map key → value\nfor (const item of items) {\n  const row = item.json;\n  settings[row.key] = row.value;\n}\n\n// Optionally store globally for later nodes\n$vars.settings = settings;\n\n// Return as output\nreturn [{ json: settings }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        -176
      ],
      "id": "bcaff4d4-726f-44ad-8a4d-6d69b75a3819",
      "name": "Retrieve central settings"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76373d11-3fd2-431b-be6b-14a290916cee",
              "name": "emailpassed",
              "value": "={{ $('Laravel LoginForm UI').item.json.email }}",
              "type": "string"
            },
            {
              "id": "3f680720-8060-481a-baf0-f7ea9a43eb52",
              "name": "passwordpassed",
              "value": "={{ $('Laravel LoginForm UI').item.json.password }}",
              "type": "string"
            },
            {
              "id": "d9633236-b22e-4b9b-8120-94d5b3a69e05",
              "name": "rememberpassed",
              "value": "={{ $('Laravel LoginForm UI').item.json.remember > 0 ? true : false }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        -432
      ],
      "id": "2c14e22c-7b77-473a-88b6-3e23b5224553",
      "name": "LognFormValues",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c671ea7-981f-467b-a249-58af52b1133b",
              "leftValue": "={{ $json.token }}",
              "rightValue": "=\"true\"",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        -224
      ],
      "id": "da15806c-2ffc-40d6-afe0-9bd2b90e0df3",
      "name": "IF Token Present",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41894c99-2d4a-493b-8434-851d1f4e943c",
              "name": "token",
              "value": "={{ $json.token }}",
              "type": "string"
            },
            {
              "id": "74c4cdc5-65f2-4a1f-a0c7-5b46fe815e67",
              "name": "ip",
              "value": "={{ $json.ip }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -480
      ],
      "id": "17ccc57e-6592-4c6f-ba24-68db9dd9b2e4",
      "name": "Send Token and IP",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "bediktest@gmail.com",
        "subject": "failed Login attempt",
        "message": "=failed Login Attempt From : {{ $('LognFormValues').first().json.emailpassed }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -512,
        48
      ],
      "id": "f95dd424-55a7-4e65-b2fc-5b240376734f",
      "name": "Send Failure Notification",
      "webhookId": "0490e607-720f-4e37-8e39-e31b3ace5082",
      "credentials": {
        "gmailOAuth2": {
          "id": "6ozKOoFfLTOy5P7d",
          "name": "Google-N8N"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSRKIfx8ndL0Qtx",
          "mode": "list",
          "cachedResultName": "N8N Chat Scraper",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx"
        },
        "table": {
          "__rl": true,
          "value": "tblmcZeAoJSPeCoNx",
          "mode": "list",
          "cachedResultName": "secrettable",
          "cachedResultUrl": "https://airtable.com/appSRKIfx8ndL0Qtx/tblmcZeAoJSPeCoNx"
        },
        "filterByFormula": "=ipaddress = \"{{ $json.ip }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -224,
        -240
      ],
      "id": "eb66bfda-d399-4b27-b8f8-f69d67d26078",
      "name": "Check IP Address",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "b4bdqV7yCwNwcBgT",
          "name": "Airtable Personal Access Token account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.LARAVEL_BACKEND_API }}/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('LognFormValues').first().json.emailpassed }}"
            },
            {
              "name": "password",
              "value": "={{ $('LognFormValues').first().json.passwordpassed }}"
            },
            {
              "name": "remember",
              "value": "={{ $('LognFormValues').first().json.remember ? true : false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        -192
      ],
      "id": "23c4c332-75aa-44af-94fa-055a5a5f9771",
      "name": "Send HTTP Request to Laravel Backend"
    },
    {
      "parameters": {
        "jsCode": "// Custom failure message\nconst message = `\n  <h2>Login Failed</h2>\n  <p>Email notification sent. Please try again with correct credentials.</p>\n  <a href=\"#\" onclick=\"history.back()\">Go Back to Form</a>\n`;\n\n// Return response object for Form Trigger\nreturn {\n  response: {\n    status: 200,\n    headers: {\n      'Content-Type': 'text/html'\n    },\n    body: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        320
      ],
      "id": "90c130a2-79b1-4961-9bfa-1a7e83cd2131",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BSESgSV1qTyyR8xFg8kT5RodvrsRbb3ZqyBYKtXj0j0",
          "mode": "list",
          "cachedResultName": "Login Activity",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BSESgSV1qTyyR8xFg8kT5RodvrsRbb3ZqyBYKtXj0j0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 98062569,
          "mode": "list",
          "cachedResultName": "Failed Login",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BSESgSV1qTyyR8xFg8kT5RodvrsRbb3ZqyBYKtXj0j0/edit#gid=98062569"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('LognFormValues').first().json.emailpassed }}",
            "DaetTime": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DaetTime",
              "displayName": "DaetTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -752,
        256
      ],
      "id": "39f571ab-3612-45a7-9a70-162c0b0c9ac0",
      "name": "Failure Insertion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "emOxEV9cfdMjtjeF",
          "name": "Google Sheets N8N"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "a57JXfYyCtOCljoj",
          "mode": "list",
          "cachedResultUrl": "/workflow/a57JXfYyCtOCljoj",
          "cachedResultName": "Laravel token Sub Flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $('Send Token and IP').item.json.token }}",
            "ip": "={{ $('Send Token and IP').item.json.ip }}",
            "email": "={{ $('Send Token and IP').item.json.user.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ip",
              "displayName": "ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        -288
      ],
      "id": "ddeb8d8d-d45f-45e5-85bb-4b1cb20ec7c5",
      "name": "Call 'Laravel token Sub Flow'",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe8c7642-4fe8-4ec4-bef5-98774bc6c582",
              "name": "ipMatchCount",
              "value": "={{ $items(\"Check IP Address\").length }}",
              "type": "number"
            },
            {
              "id": "efd10929-5fe1-40e8-a51b-9a210f5bd106",
              "name": "ipMatchData",
              "value": "={{ $items(\"Check IP Address\")[0].json || {} }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -400
      ],
      "id": "82926c39-81f8-41e8-8fe0-4403e755ff53",
      "name": "Number of loggedins found"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Y9dxjssFlr9TljLE",
          "mode": "list",
          "cachedResultUrl": "/workflow/Y9dxjssFlr9TljLE",
          "cachedResultName": "Check logged in"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1888,
        -384
      ],
      "id": "317d405a-d9a8-461e-bd91-203874e070ec",
      "name": "Call 'Check logged in'",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e46f19e7-68ee-42ac-9290-5bb4b908efbc",
              "leftValue": "={{ $json.status }}",
              "rightValue": "notLoggedIn",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1664,
        -432
      ],
      "id": "15ec3179-0667-4876-bca1-76333fd49f19",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Laravel LoginForm UI": {
      "main": [
        [
          {
            "node": "Call 'Check logged in'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datatabel Central Settings": {
      "main": [
        [
          {
            "node": "Retrieve central settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve central settings": {
      "main": [
        [
          {
            "node": "Send HTTP Request to Laravel Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LognFormValues": {
      "main": [
        [
          {
            "node": "Datatabel Central Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Token Present": {
      "main": [
        [
          {
            "node": "Send Token and IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Failure Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Token and IP": {
      "main": [
        [
          {
            "node": "Check IP Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check IP Address": {
      "main": [
        [
          {
            "node": "Number of loggedins found",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send HTTP Request to Laravel Backend": {
      "main": [
        [
          {
            "node": "IF Token Present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Failure Notification": {
      "main": [
        [
          {
            "node": "Failure Insertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failure Insertion": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Number of loggedins found": {
      "main": [
        [
          {
            "node": "Call 'Laravel token Sub Flow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Check logged in'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "LognFormValues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1e087018-3907-416f-a324-91a72230a03c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "oiIj2Xf5viEudYgo",
  "tags": []
}