November 26/N8N-Multi-Tier-Apps-December-23/Delete Immediate Suggestions Delete Sheet.json
{
  "name": "Delete Immediate Suggestions Delete Sheet",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1_qDXH9iyfUQUI7Dj_UBM-yU7xyVOuWLWSBcgw3ArrNY",
          "mode": "list",
          "cachedResultName": "Knowledge Base Suggestions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_qDXH9iyfUQUI7Dj_UBM-yU7xyVOuWLWSBcgw3ArrNY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 997222776,
          "mode": "list",
          "cachedResultName": "Delete",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_qDXH9iyfUQUI7Dj_UBM-yU7xyVOuWLWSBcgw3ArrNY/edit#gid=997222776"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        -176
      ],
      "id": "d27a1643-7615-4b59-a2ee-4903738c76aa",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "8iaKypw7V0mjBoMg",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'totalCount' to each group\nconst rows = items.map(item => item.json);\nconst totalCount = rows.length;\n\nconst grouped = rows.reduce((acc, row) => {\n  const key = row.KnowledgeBase || 'Unknown';\n  acc[key] = acc[key] || [];\n  acc[key].push(row);\n  return acc;\n}, {});\n\nreturn Object.entries(grouped).map(([key, group]) => ({\n  json: {\n    groupKey: key,\n    records: group,\n    totalCount   // total number of rows across all groups\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -208
      ],
      "id": "b74951fd-73ce-42a6-80ba-9cf3a33cc9cd",
      "name": "Retrieve Google Sheet Records"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wRyw7DyTlioKKc5i",
          "mode": "list",
          "cachedResultUrl": "/workflow/wRyw7DyTlioKKc5i",
          "cachedResultName": "Logged In Guard Middleware Extended"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        80,
        -256
      ],
      "id": "67ed053f-1237-4419-955b-b7ab54afbe39",
      "name": "Call 'Logged In Guard Middleware Extended'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Sheets Items and The Main Settings').item.json.LARAVEL_BACKEND_MCP }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $('Sheets Items and The Main Settings').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"tools/call\",\n  \"params\": {\n    \"name\": \"manage-baser-suggestions\",\n    \"arguments\": {\n      \"action\": \"delete_by_sheetid\",\n      \"SuggestionID\": \"{{ $json.SuggestionID }}\"\n    }\n  },\n  \"id\": {{ Math.floor(Math.random() * 1000) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        -304
      ],
      "id": "3799d10e-ffd0-4949-93e3-3183b3cf42a1",
      "name": "HTTP Request to categories FilterPrompt prperation",
      "notesInFlow": true,
      "alwaysOutputData": false,
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8b5909-8993-4ccb-ad44-ba0bfa244ae0",
              "name": "token",
              "value": "={{ $json.token }}",
              "type": "string"
            },
            {
              "id": "5dc20846-1241-4cc8-8559-999f2d743f59",
              "name": "LARAVEL_BACKEND_MCP",
              "value": "={{ $json.LARAVEL_BACKEND_MCP }}",
              "type": "string"
            },
            {
              "id": "03ba135e-07db-4b18-bc48-9b077ff723b4",
              "name": "records",
              "value": "={{ $('Flatten').item.json.records }}",
              "type": "array"
            },
            {
              "id": "349e390b-5c88-4278-91ba-81421b73ab9b",
              "name": "totalCount",
              "value": "={{ $('Flatten').item.json.totalCount }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -240
      ],
      "id": "d7845558-d6a6-4a2d-aca2-c941088b2e2e",
      "name": "Sheets Items and The Main Settings",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Collect all incoming items into one array\nconst allRecords = [];\n\nfor (const item of items) {\n  if (item.json.records) {\n    allRecords.push(...item.json.records);\n  } else {\n    allRecords.push(item.json);\n  }\n}\n\nreturn [\n  {\n    json: {\n      records: allRecords,\n      totalCount: allRecords.length\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -272
      ],
      "id": "26aef098-d8b5-44a2-af41-f548d2b6cb1a",
      "name": "Flatten"
    },
    {
      "parameters": {
        "jsCode": "// --- FINAL MINIMIZED CODE NODE PAYLOAD ---\n// 1. Get the JSON object from the first (and only) incoming item.\nconst inputData = items[0].json;\n// 2. Extract the 'records' array from the input.\nconst recordsToSplit = inputData.records || [];\n// 3. Create a new N8N output item for every record found, selecting only necessary fields.\nconst outputItems = recordsToSplit\n  .filter(record => record.SuggestionID)  // NEW: Skip if SuggestionID falsy/empty\n  .map(record => {\n \n    // --- CLEANUP STEP: Trim whitespace (fixes the JSON validation issue) ---\n    const cleanedKnowledgeBase = (record.KnowledgeBase && typeof record.KnowledgeBase === 'string')\n      ? record.KnowledgeBase.trim()\n      : record.KnowledgeBase;\n   \n    // --- PAYLOAD CONSTRUCTION: Explicitly select ONLY the core data fields ---\n    const minimizedPayload = {\n \n      \"SuggestionID\": record.SuggestionID,\n\n    };\n   \n    // The N8N Code node returns an array of { json: <payload> } objects.\n    return {\n      json: minimizedPayload\n    };\n  });\n// Return the array of new items (only valid ones).\nreturn outputItems;\n// ----------------------------------------------------------------"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -272
      ],
      "id": "5f2a968b-0121-4a06-966a-ec372115cda9",
      "name": "Split and send final parmaters"
    }
  ],
  "pinData": {},
  "connections": {
    "Retrieve Google Sheet Records": {
      "main": [
        [
          {
            "node": "Flatten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Logged In Guard Middleware Extended'": {
      "main": [
        [
          {
            "node": "Sheets Items and The Main Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Items and The Main Settings": {
      "main": [
        [
          {
            "node": "Split and send final parmaters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten": {
      "main": [
        [
          {
            "node": "Call 'Logged In Guard Middleware Extended'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split and send final parmaters": {
      "main": [
        [
          {
            "node": "HTTP Request to categories FilterPrompt prperation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Retrieve Google Sheet Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d1e492b-931a-4d75-b50f-03dac2e21c55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4884815bbcc111ec230f3722427cc2a84933b1649d66b9f23727be8f059e58b4"
  },
  "id": "3lsKRKMlJZ388RuB",
  "tags": []
}